@import "./../../../../../assets/scss/colors.scss";
@import "./../../../../../assets/scss/form.scss";

// .presentation-block {
//   display: flex;
//   height: 100%;

//   .title {
//     max-width: 400px;
//     width: 100%;
//     color: #505050;
//     font-size: 30px;
//     margin-bottom: 50px;

//     span {
//       letter-spacing: -1px;
//       font-size: 50px;
//       display: block;
//       font-weight: bold;
//       white-space: nowrap;
//     }
//   }
// }

.form-quotation {
  color: #222;
  max-width: 350px;
  width: 100%;
  padding: 10px;

  .subtitle {
    color: #505050;
    margin-bottom: 5px;
  }

  .btn-quote {
    margin-top: 25px;
    width: 100%;
    background: #03b304;
    border: 1px solid #03b304;
    padding: 10px 7px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 0;
  }
}

.coupon-code {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #8c8c8c;
  padding: 10px;

  span {
    text-transform: uppercase;
    color: #303030;
  }
}

@media (max-width: 767px) {
  // .presentation-block {
  //   height: 115px;
  //   padding-top: unset;

  //   .title {
  //     line-height: 35px;
  //     margin-bottom: 40px;
  //     margin-bottom: 40px;
  //     font-size: 25px;

  //     span {
  //       font-size: 35px;
  //       white-space: inherit;
  //     }
  //   }
  // }
}

::ng-deep .dropdown-menu {
  top: -160px !important;
  width: 100%;
  border-radius: 0;

  .ngb-dp-month {
    width: 100%;
    // background: red;

    .ngb-dp-week {
      display: flex;
      justify-content: space-between;
    }
  }

  .ngb-dp-weekday {
    font-size: 14px;
    font-style: unset;
    color: #505050;
  }

  .ngb-dp-month-name {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
  }

  ngb-datepicker-navigation {
    padding: 10px;
  }

  .ngb-dp-arrow-btn {
    outline: none;
    box-shadow: unset;
    color: #505050;
  }
}
