.sidebar {
  // padding: 0px 7px;
  margin-bottom: 20px;

  .info-block {
    // margin-top: 65px;
    // margin-bottom: 20px;
    padding: 10px 15px;
    // border: 1px solid #ddd;
    box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;
  }

  .description {
    font-size: 12px;
    color: #8c8c8c;
    margin: 0;
  }

  .summary-box {
    width: 100%;
    padding: 10px 20px;
    // box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;
    border: 1px solid #dbdce5;
    border-bottom: none;

    .item-detail {
      width: 100%;
      margin-bottom: 5px;
    }

    .item-label {
      font-size: 12px;
      color: #8c8c8c;
    }
    .item-info {
      font-weight: 400;
      font-size: 14px;
      color: #303030;
      margin-bottom: 10px;
    }

    .action {
      margin-top: 10px;
      width: 100%;
      text-align: right;
      font-size: 12px;
    }

    .price-block {
      .old-price {
        font-size: 11px;
        // color: orangered;
        color: #505050;
        text-decoration: line-through;
        // width: 100%;
        display: block;
        // margin-right: 10px;
      }

      .current-price {
        font-weight: 600;
        // color: #02b302;
        // font-size: 16px;
        color: #303030;
        font-size: 14px;
      }

      .light-text {
        font-size: 10px;
      }
    }
  }

  .summary-total-box {
    width: 100%;
    padding: 30px 20px;
    // box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;
    border: 1px solid #dbdce5;

    .item-detail {
      width: 100%;
      max-width: 300px;
      margin-bottom: 5px;
    }
    .sub-item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .label-item {
      font-weight: 400;
      font-size: 15px;
      color: #303030;
    }
    .value-item {
      font-weight: 600;
      color: #505050;
      font-size: 16px;
    }
    .value-item-featured {
      font-weight: 600;
      color: #02b302;
      font-size: 20px;
    }
    .light-text {
      font-size: 12px;
    }
  }

  .button-actions {
    width: 100%;
    padding: 15px;
    box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;
    margin-bottom: 20px;

    .btn-continue {
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      background: #03b304;
      border: 1px solid #03b304;
      border-radius: 0px;
      max-width: 320px;
      width: 100%;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 767px) {
}
