<!-- sidebar -->
<div class="sidebar">

  <ng-container *ngIf="showButton">
    <div class="button-actions d-none d-md-block">
      <button type="button" class="btn-continue" (click)="onNextStep()">
        {{ buttonName }}
      </button>
    </div>
  </ng-container>

  <div class="summary-box" *ngIf="order.quotation">

    <div class="item-detail">
      <div class="item-label">Destino: </div>
      <div class="item-info">
        {{ order.quotation.destination_group_name }}
      </div>
    </div>

    <div class="item-detail">

      <div class="item-label">Período de viagem: </div>
      <div class="item-info">
        {{ order.quotation.start_date | date: 'dd/MM/yyyy'}} - {{ order.quotation.end_date | date:'dd/MM/yyyy'}}
      </div>
    </div>

    <div class="item-detail">

      <div class="item-label">Vigência: </div>
      <div class="item-info">
        {{ order.quotation.days }} dias
      </div>
    </div>
  </div>

  <div class="summary-box" *ngIf="order.plan">

    <div class="item-detail">
      <div class="item-label">
        Plano:
        <!-- <a [routerLink]="['/pedido/cotacao/', order.quotation.id]" *ngIf="step < 10">(editar)</a> -->
      </div>
      <div class="item-info">
        {{ order.insurance_company.name }} <br>
        {{ order.plan.name }}
      </div>
    </div>

    <div class="item-detail price-block">

      <ng-container *ngFor="let price of order.plan.prices">

        <div class="item-label">
          {{ price.min_age }} à {{ price.max_age }} anos / por passageiro
        </div>

        <div class="item-info">

          <ng-container *ngIf="!!price.old_price">
            <span class="old-price">
              R$ {{ price.old_price | currency:'BRL':'' }}
            </span>
          </ng-container>

          <div class="current-price">
            <span class="light-text">R$</span> {{ price.price | currency:'BRL':'' }}
          </div>
        </div>
      </ng-container>
    </div>

    <!-- <div class="action">
      <button type="button" class="btn-type-link">Alterar</button>
    </div> -->
  </div>

  <div class="summary-box" *ngIf="order.passengers.length > 0">

    <ng-container *ngFor="let passenger of order.passengers; let last = last;">
      <div class="item-detail">
        <div class="item-label">
          Passageiro:
          <!-- <a [routerLink]="'/pedido/passageiros'" *ngIf="step < 10">(editar)</a> -->

        </div>
        <div class="item-info">
          {{ passenger.name }} <br>
          {{ passenger.document }} - {{ passenger.birthday | date: 'dd/MM/yyyy' }} <br>
          {{ (passenger.gender === 'M')? 'Masculino': 'Feminino' }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="summary-box" *ngIf="order.status === 5">
    <app-coupon [order]="order"></app-coupon>
  </div>

  <div class="summary-total-box" *ngIf="order.total">

    <div class="item-detail">
      <!-- <div class="sub-item">
        <div class="label-item">Passageiros: {{ order.passengers.length }}</div>
      </div> -->

      <ng-container *ngIf="!!order.coupon">
        <div class="sub-item">
          <div class="label-item">Subtotal:</div>
          <div class="value-item">
            <span class="light-text">R$</span>
            {{ order.subtotal | currency:'BRL':'' }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="order.discount">
        <div class="sub-item">
          <div class="label-item">Desconto:</div>
          <div class="value-item">
            <span class="light-text"> R$</span>
            - {{ order.discount | currency:'BRL':'' }}
          </div>
        </div>
        <hr>
      </ng-container>

      <div class="sub-item">
        <div class="label-item">Total:</div>
        <div class="value-item-featured">
          <span class="light-text">R$</span>
          {{ order.total | currency:'BRL':'' }}
        </div>
      </div>
    </div>
  </div>
  <!--
  <ng-container *ngIf="showButton">
    <div class="button-actions d-none d-md-block">
      <button type="button" class="btn-continue" (click)="onNextStep()">
        {{ buttonName }}
      </button>
    </div>
  </ng-container> -->

</div>
<!-- sidebar -->

<!-- <pre>
  {{ order | json }}
</pre> -->
