<div class="form-quotation">

  <form [formGroup]="form" (ngSubmit)="quote()" autocomplete="off">

    <div class="row">

      <div class="col-12">

        <div class="form-group">
          <div class="field-outlined-v3 select-outlined">
            <select id="field-destination-group-id" formControlName="destination_group_id" required
              (focus)="setCurrentField('destination_group_id')" (focusout)="setCurrentField(null)"
              [ngClass]="{'is-invalid': isInvalidField('destination_group_id')}" data-hj-allow>
              <option value=" " disabled>Selecione o destino</option>
              <option *ngFor="let destinationGroup of destinationGroups" [value]="destinationGroup.id">
                {{ destinationGroup.name }}
              </option>
            </select>
            <label for="field-destination-group-id" class="field-label">Destino</label>
            <em class="select-arrow"></em>
            <div class="invalid-feedback" *ngIf="form.get('destination_group_id').errors">
              {{ error('destination_group_id') }}
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="{ 'col-6 pr-2': !classFull, 'col-12 p-0': classFull, 'd-none': (hideClass === 1) }">
        <div class="form-group">
          <div class="field-outlined-v3 field-outlined-2">
            <input id="field-start-date" type="tel" readonly="" placeholder=" " formControlName="start_date"
              ngbDatepicker [minDate]="minStartDate" #startDatePicker="ngbDatepicker" [placement]="'bottom-left'"
              [navigation]="'arrows'" [outsideDays]="'hidden'" [ngClass]="{'is-invalid': isInvalidField('start_date')}"
              (dateSelect)="onDateSelect($event)" (closed)="resetClass()" (click)="toggleDatePicker(startDatePicker, 1)"
              data-hj-allow>
            <label for="field-start-date" class="field-label">Data ida</label>

            <ng-container *ngIf="form.get('start_date').errors">
              <div class="invalid-feedback">
                {{ error('start_date') }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div [ngClass]="{'col-6 pl-2': !classFull, 'col-12 p-0': classFull, 'd-none': (hideClass === 2)}">
        <div class="form-group">
          <div class="field-outlined-v3 field-outlined-2">
            <input id="field-end-date" type="tel" readonly="" placeholder=" " formControlName="end_date" ngbDatepicker
              [minDate]="minEndDate" #endDatePicker="ngbDatepicker" [placement]="'bottom-left'" [navigation]="'arrows'"
              [outsideDays]="'hidden'" [ngClass]="{'is-invalid': isInvalidField('end_date')}" (closed)="resetClass()"
              (click)="toggleDatePicker(endDatePicker, 2)" data-hj-allow>
            <label for="field-end-date" class="field-label">Data volta</label>

            <ng-container *ngIf="form.get('end_date').errors">
              <div class="invalid-feedback">
                {{ error('end_date') }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- <div class="col-12">
              <div class="form-group">
                <hr>
              </div>
            </div> -->

      <!-- <div class="col-12">
                    <div class="form-group">

                      <label class="field-outlined">
                        <input type="text" placeholder=" " formControlName="name" (focus)="setCurrentField('name')"
                          (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('name')}"
                          data-hj-allow>
                        <span>Nome</span>

                        <ng-container *ngIf="form.get('name').errors">
                          <div class="invalid-feedback">
                            {{ error('name') }}
                          </div>
                        </ng-container>
                      </label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">

                      <label class="field-outlined">
                        <input type="email" placeholder=" " formControlName="email" (focus)="setCurrentField('email')"
                          (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('email')}"
                          data-hj-allow>
                        <span>Email</span>

                        <ng-container *ngIf="form.get('email').errors">
                          <div class="invalid-feedback">
                            {{ error('email') }}
                          </div>
                        </ng-container>
                      </label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">

                      <label class="field-outlined">
                        <input type="tel" placeholder=" " formControlName="phone" (focus)="setCurrentField('phone')"
                          (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('phone')}"
                          (input)="mask('phone')" data-hj-allow>
                        <span>Telefone</span>

                        <ng-container *ngIf="form.get('phone').errors">
                          <div class="invalid-feedback">
                            {{ error('phone') }}
                          </div>
                        </ng-container>
                      </label>

                    </div>
                  </div> -->

      <ng-container *ngIf="!!couponCode">
        <div class="col-12">
          <div class="coupon-code">
            *** Essa cotação será feita com o cupom de desconto:
            <span>{{ couponCode }}</span> ***
          </div>
        </div>
      </ng-container>

      <div class="col-12">
        <button type="submit" class="btn btn-quote">
          Buscar Planos
        </button>
      </div>

    </div>
  </form>
</div>
