<section class="checkout-page-structure" *ngIf="show">
  <div class="container-lg">
    <div class="row">

      <a [routerLink]="('/pedido/cotacao/' + order.quotation.id )" class="btn-back-checkout">
        <span class="icon icon-arrow"></span>
      </a>

      <div class="col-12">
        <h1 class="checkout-main-title">Preencha os dados da compra</h1>
      </div>


      <div class="col-12 col-md-8" *ngIf="form">
        <form [formGroup]="form" (ngSubmit)="save()" autocomplete="off">

          <div class="row mb-4">
            <div class="col-12">
              <div class="box-item">

                <div class="box-subtitle">
                  Passageiros

                  <button type="button" class="btn-type-link btn-add-traveler" (click)="addField()">
                    Adicione Passageiros
                  </button>
                </div>

                <div formArrayName="fields">
                  <ng-container *ngFor="let item of form.get('fields').controls; let i = index;">

                    <div class="traveler" [formGroupName]="i">

                      <input type="hidden" formControlName="id">

                      <!--DOCUMENTO-->
                      <div class="traveler-block-document traveler-field">
                        <div class="form-group">

                          <label class="field-outlined">
                            <input type="tel" placeholder=" " formControlName="document"
                              (focus)="setCurrentField(i, 'document')" (focusout)="setCurrentField()"
                              [ngClass]="{'is-invalid': isInvalidField2(i, 'document')}" (input)="mask('document', i)">
                            <span>CPF</span>

                            <ng-container>
                              <div class="invalid-feedback">
                                {{ error('document', i) }}
                              </div>
                            </ng-container>
                          </label>
                        </div>


                      </div>

                      <!-- NOME COMPLETO -->
                      <div class="traveler-block-name traveler-field">
                        <div class="form-group">

                          <label class="field-outlined">
                            <input type="text" placeholder=" " formControlName="name"
                              (focus)="setCurrentField(i, 'name')" (focusout)="setCurrentField()"
                              [ngClass]="{'is-invalid': isInvalidField2(i, 'name')}">
                            <span>Nome completo</span>

                            <ng-container>
                              <div class="invalid-feedback">
                                {{ error('name', i) }}
                              </div>
                            </ng-container>
                          </label>
                        </div>
                      </div>


                      <!--NASCIMENTO-->
                      <div class="traveler-block-birthdate traveler-field">
                        <div class="form-group">

                          <label class="field-outlined">
                            <input type="tel" placeholder=" " formControlName="birthday"
                              (focus)="setCurrentField(i, 'birthday')" (focusout)="setCurrentField()"
                              [ngClass]="{'is-invalid': isInvalidField2(i, 'birthday')}" (input)="mask('birthday', i)">
                            <span>Nascimento</span>

                            <!-- *ngIf="form.get('document').errors" -->
                            <ng-container>
                              <div class="invalid-feedback">
                                {{ error('birthday', i) }}
                              </div>
                            </ng-container>
                          </label>
                        </div>
                      </div>

                      <!--SEXO-->
                      <div class="traveler-block-gender traveler-field">

                        <div class="form-group">

                          <label class="field-outlined select-outlined">
                            <select formControlName="gender" required (focus)="setCurrentField('gender')"
                              (focusout)="setCurrentField()" [ngClass]="{'is-invalid': isInvalidField2(i, 'gender')}">
                              <option value="" disabled=""></option>
                              <option value="M">Masculino</option>
                              <option value="F">Feminino</option>
                            </select>
                            <span>Sexo</span>
                            <em class="select-arrow"></em>
                            <div class="invalid-feedback">
                              {{ error('gender', i) }}
                            </div>
                          </label>
                        </div>
                      </div>

                      <div class="traveler-actions">
                        <button type="button" class="btn-type-link btn-remove-traveler" (click)="deleteField(i)">
                          <span class="icon icon-remove d-none d-sm-block"></span>
                          <span class="d-block d-sm-none">Remover</span>
                        </button>
                      </div>

                    </div>

                  </ng-container>
                </div>

              </div>
            </div>

            <ng-container *ngIf="!(!!customerData)">
              <div class="col-12 {{ filledPassengers ? 'd-block': 'd-none' }}">

                <div class="box-item buyer">

                  <div class="box-subtitle">
                    <span>
                      Responsável pela compra
                    </span>
                    <!-- <div class="sub-description">Essas informações são exigidas pela seguradora</div> -->

                    <span class="icon icon-info" placement="top" ngbTooltip="Informações exigidas pela seguradora"
                      tooltipClass="custom-tooltip"></span>
                  </div>

                  <div class="box-subgroup">
                    <div class="buyer-document buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="tel" placeholder=" " formControlName="document"
                            (focus)="setCurrentField('document')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('document')}" (input)="mask('document')">
                          <span>CPF</span>

                          <ng-container *ngIf="form.get('document').errors">
                            <div class="invalid-feedback">
                              {{ error('document') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-name buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="text" placeholder=" " formControlName="name" (focus)="setCurrentField('name')"
                            (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('name')}">
                          <span>Nome Completo</span>

                          <ng-container *ngIf="form.get('name').errors">
                            <div class="invalid-feedback">
                              {{ error('name') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                  </div>

                  <div class="box-subgroup">

                    <div class="buyer-email buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="email" placeholder=" " formControlName="email" (focus)="setCurrentField('email')"
                            (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('email')}"
                            autocomplete="username email">
                          <span>Email</span>

                          <ng-container *ngIf="form.get('email').errors">
                            <div class="invalid-feedback">
                              {{ error('email') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-phone buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="tel" placeholder=" " formControlName="phone" (focus)="setCurrentField('phone')"
                            (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('phone')}"
                            (input)="mask('phone')">
                          <span>Telefone</span>

                          <ng-container *ngIf="form.get('phone').errors">
                            <div class="invalid-feedback">
                              {{ error('phone') }}
                            </div>
                          </ng-container>
                        </label>

                      </div>
                    </div>
                  </div>
                  <!-- </div>

                <div class="box-item buyer"> -->

                  <div class="box-subtitle">
                    Endereço
                    <!-- <div class="sub-description">Essas informações são exigidas pela seguradora</div> -->

                    <span class="icon icon-info" placement="top" ngbTooltip="Informações exigidas pela seguradora"
                      tooltipClass="custom-tooltip"></span>
                  </div>

                  <div class="box-subgroup">

                    <div class="buyer-zipcode buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="tel" placeholder=" " formControlName="zipcode"
                            (focus)="setCurrentField('zipcode')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('zipcode')}" (input)="mask('zipcode')"
                            (input)="findByZipcode($event)">
                          <span>CEP</span>

                          <ng-container *ngIf="form.get('zipcode').errors">
                            <div class="invalid-feedback">
                              {{ error('zipcode') }}
                            </div>
                          </ng-container>
                        </label>

                      </div>
                    </div>

                    <div class="buyer-address-number buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="text" placeholder=" " formControlName="number"
                            (focus)="setCurrentField('number')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('number')}">
                          <span>Número</span>

                          <ng-container *ngIf="form.get('number').errors">
                            <div class="invalid-feedback">
                              {{ error('number') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-complement buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="text" placeholder=" " formControlName="complement"
                            (focus)="setCurrentField('complement')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('complement')}">
                          <span>Complemento</span>

                          <ng-container *ngIf="form.get('complement').errors">
                            <div class="invalid-feedback">
                              {{ error('complement') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="box-subgroup">

                    <div class="buyer-street buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="text" placeholder=" " formControlName="street"
                            (focus)="setCurrentField('street')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('street')}">
                          <span>Rua</span>

                          <ng-container *ngIf="form.get('street').errors">
                            <div class="invalid-feedback">
                              {{ error('street') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-district buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="text" placeholder=" " formControlName="district"
                            (focus)="setCurrentField('district')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('district')}">
                          <span>Bairro</span>

                          <ng-container *ngIf="form.get('district').errors">
                            <div class="invalid-feedback">
                              {{ error('district') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-city buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="text" placeholder=" " formControlName="city" (focus)="setCurrentField('city')"
                            (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('city')}">
                          <span>Cidade</span>

                          <ng-container *ngIf="form.get('city').errors">
                            <div class="invalid-feedback">
                              {{ error('city') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-state buyer-field">
                      <div class="form-group">

                        <label class="field-outlined select-outlined">
                          <select formControlName="state" required (focus)="setCurrentField('state')"
                            (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('state')}">
                            <option value="" disabled hidden selected></option>
                            <option value="" disabled selected>Selecione o destino</option>
                            <option *ngFor="let state of states" [value]="state.code">
                              {{ state.name }}
                            </option>
                          </select>
                          <span>Estado</span>
                          <em class="select-arrow"></em>
                          <div class="invalid-feedback" *ngIf="form.get('state').errors">
                            {{ error('state') }}
                          </div>
                        </label>
                      </div>
                    </div>

                  </div>

                  <!-- </div>

                <div class="box-item buyer"> -->

                  <div class="box-subtitle">
                    Senha e confirmação

                    <span class="icon icon-info" placement="top"
                      ngbTooltip="Email e senha serão utilizados para acessar suas apólices no painel do segurado"
                      tooltipClass="custom-tooltip"></span>

                    <!-- <div class="sub-description">Senha e email serão utilizados por você para acessar suas apólices no painel do
                      segurado</div> -->
                  </div>

                  <div class="box-subgroup">
                    <div class="buyer-password buyer-field">
                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="{{ (showPassword)? 'text':'password' }}" placeholder=" " formControlName="password"
                            (focus)="setCurrentField('password')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('password')}">
                          <span>Senha</span>

                          <div class="eye" (click)="togglePasswordView()">
                            <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showPassword}"></span>
                          </div>

                          <ng-container *ngIf="form.get('password').errors">
                            <div class="invalid-feedback">
                              {{ error('password') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>

                    <div class="buyer-password-confirmation buyer-field">

                      <div class="form-group">

                        <label class="field-outlined">
                          <input type="{{ (showConfirmationPassword)? 'text':'password' }}" placeholder=" " formControlName="password_confirmation"
                            (focus)="setCurrentField('password_confirmation')" (focusout)="setCurrentField(null)"
                            [ngClass]="{'is-invalid': isInvalidField('password_confirmation')}">
                          <span>Confirme a Senha</span>

                          <div class="eye" (click)="toggleConfirmationPasswordView()">
                            <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showConfirmationPassword}"></span>
                          </div>

                          <ng-container *ngIf="form.get('password_confirmation').errors">
                            <div class="invalid-feedback">
                              {{ error('password_confirmation') }}
                            </div>
                          </ng-container>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </ng-container>

            <div class="col-12 d-block d-md-none">
              <div class="next-step">
                <button type="submit" class="btn-continue">
                  {{ buttonName }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <ng-container *ngIf="order">
        <div class="col-12 col-md-4" id="resumo">
          <app-summary [order]="order" [step]="5" [showButton]="true" [buttonName]="buttonName"
            (nextStep)="onNextStep($event)"></app-summary>
        </div>
      </ng-container>

    </div>
  </div>
</section>
