@import "./../../../assets/scss/form.scss";

.checkout-page-structure {
  padding: 10px;
}

.box-subtitle {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #505050;
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .sub-description {
    width: 100%;
    font-size: 13px;
    font-weight: 300;
  }

  .icon {
    // color: #007bff;
    color: #505050;
    // position: absolute;
    // right: 30px;
    cursor: pointer;
  }

  .custom-tooltip {
    .tooltip-inner {
      font-size: 10px;
      background-color: #505050;
    }

    .arrow::before {
      border-top-color: #505050;
    }
  }
}

.box-item {
  background: #fff;
  box-shadow: 0 0 4px 0 #dbdce5;
  margin-bottom: 30px;
  padding: 10px 15px;
  min-height: 145px;

  .fields {
    width: 100%;
  }
}

.traveler {
  display: flex;

  .traveler-field {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

  .traveler-block-document {
    flex-basis: 135px;
    max-width: 135px;
    min-width: 135px;
  }

  .traveler-block-name {
    flex-grow: 2;
    overflow: hidden;
  }

  .traveler-block-birthdate {
    flex-basis: 120px;
    max-width: 120px;
    min-width: 120px;
  }

  .traveler-block-gender {
    flex-basis: 120px;
    max-width: 120px;
    min-width: 120px;
  }

  .traveler-actions {
    width: 40px;
    height: 50px;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-remove-traveler {
    height: 18px;
    font-size: 13px;
    // text-align: left;
    color: #dc3545;

    .icon-remove {
      margin-top: 5px;
    }
  }
}

.buyer {
  &:last-of-type {
    margin-bottom: 10px;
  }

  .box-subgroup {
    width: 100%;
    display: flex;
    // margin-bottom: 50px;
    // padding: 0 10px;
  }

  .box-subtitle {
    // margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .buyer-field {
    margin-left: 5px;
    margin-right: 5px;
  }

  .buyer-document {
    flex-basis: 135px;
    max-width: 135px;
    min-width: 135px;
    flex-grow: 1;
  }

  .buyer-name {
    flex-grow: 2;
  }

  .buyer-phone {
    width: 50%;
  }

  .buyer-email {
    width: 50%;
  }

  .buyer-password {
    width: 50%;
  }

  .buyer-password-confirmation {
    width: 50%;
  }

  .buyer-zipcode {
    flex-basis: 135px;
    max-width: 135px;
    min-width: 135px;
    flex-grow: 1;
  }

  .buyer-address-number {
    flex-basis: 135px;
    max-width: 135px;
    min-width: 135px;
    flex-grow: 1;
  }

  .buyer-complement {
    flex-grow: 2;
  }

  .buyer-street {
    width: 40%;
  }

  .buyer-district {
    width: 20%;
  }

  .buyer-city {
    width: 20%;
  }

  .buyer-state {
    width: 20%;
  }
}

.btn-add-traveler {
  font-size: 12px;
  position: absolute;
  right: 0px;
  // font-weight: 600;
  // border-bottom: 1px solid #007bff;
  // text-decoration: none;
  // text-decoration: underline;
}

.next-step {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;

  .btn-continue {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #03b304;
    border: 1px solid #03b304;
    border-radius: 0px;
    max-width: 320px;
    width: 100%;
    text-transform: uppercase;
  }
}


.form-group {
  // margin-bottom: 0px;
  .eye {
    position: absolute;
    top: 8px;
    right: 1px;
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 25px;
      color: #cccccc;
      cursor: pointer;
      margin-top: 5px;
    }
  }
}

@media (max-width: 575px) {
  .traveler {
    display: block;
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .traveler-field {
      flex-basis: 100%;
      max-width: unset;
      min-width: unset;
      flex-grow: unset;
      width: 100%;
    }

    .traveler-actions {
      width: 100%;
      height: unset;
      justify-content: flex-end;
      padding-top: 0;
    }
  }

  .buyer {
    .box-subgroup {
      width: 100%;
      display: block;
      padding: 0;
    }

    .buyer-field {
      flex-basis: 100%;
      max-width: unset;
      min-width: unset;
      flex-grow: unset;
      width: 100%;
    }
  }

  .next-step {
    justify-content: center;
    .btn-continue {
      max-width: unset;
      margin-bottom: 50px;
    }
  }
}
