.nav-block {
  width: 100%;
  padding: 0px 15px;
  border: 1px solid #dbdce5;
  margin-bottom: 20px;
  background: #fff;
}

.nav-item {
  width: 100%;
}

.nav-link {
  color: #505050;
}

.nav-logout {
  padding: 10px;

  &:hover {
    text-decoration: underline;
  }
}

.btn-type-link{
  text-decoration: none;
  font-size: 16px;
  color: #505050;
}
