<div class="nav-block">
  <div class="container-lg">
    <nav class="navbar navbar-expand-sm navbar-light navbar-default pl-0 pr-0">

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarSupportedContentSub" aria-controls="navbarSupportedContentSub" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon icon-menu-dots"></span>
      </button>

      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContentSub">
        <ul class="navbar-nav ml-auto d-flex flex-wrap">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/painel/pedidos'">Pedidoss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/painel/meus-dados'">Meus dados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/painel/alterar-senha'">Alterar senha</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="'/painel/meus-dados'">Cashback</a>
          </li> -->
          <li class="nav-item">
            <button type="button" class="nav-link nav-logout btn-type-link" (click)="logout()">Sair</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
