<ng-container *ngIf="filters.length > 0">
  <div class="filters-box">
    <div class="filters-box-title d-none d-md-block">Filtros:</div>
    <div class="wrapper-filters-box">

      <ng-container *ngFor="let filter of filters">
        <div class="filter-box">

          <div class="filter-title">{{ filter.title }}</div>
          <div class="filter-options">

            <ng-container *ngFor="let option of filter.options; let i = index">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="filter-{{ filter.type }}-{{ i }}"
                  (click)="onHandleFilter(filter.type, option.value)">

                <label class="form-check-label" for="filter-{{ filter.type }}-{{ i }}">
                  {{ option.title }}
                </label>
              </div>
            </ng-container>

          </div>
        </div>
      </ng-container>

        <div class="filter-box">

          <div class="filter-title">Ordenar</div>
          <div class="filter-options">

            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" id="order-asc" value="asc" (click)="onHandleSort('asc')" checked>
              <label class="form-check-label" for="order-asc">
                Menor preço
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" id="order-desc" value="desc" (click)="onHandleSort('desc')">
              <label class="form-check-label" for="order-desc">
                Maior preço
              </label>
            </div>

          </div>
        </div>

    </div>
  </div>
</ng-container>
