.filters-box {
  .filters-box-title {
    font-weight: 600;
    color: #8c8c8c;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .wrapper-filters-box {
    padding: 20px;
    box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;
    margin-bottom: 15px;
  }

  .filter-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;

    &:last-of-type {
      border: none;
      margin-bottom: 0;
    }
  }

  .filter-title {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
  }

  .filter-options {
    .form-check {
      padding-top: 5px;
      padding-bottom: 5px;
      // display: flex;
      // align-items: center;
    }

    .form-check-input {
      // margin-top: 0;
    }

    .form-check-label {
      font-size: 13px;
      font-weight: 300;
      cursor: pointer;
      width: 100%;
    }
  }
}
