<app-dynamic-message *ngxLazyEl></app-dynamic-message>

<section id="pagina-area-segurado">
  <div class="container">
    <div class="row">

      <div class="centralize">
        <div class="area-segurado-bloco-login">
          <div class="imagem-logo">
            <a [routerLink]="'/'" title="Home">
              <img src="/assets/images/preseguro.svg" alt="Preseguro logo" width="200" height="62">
            </a>
          </div>

          <h1 class="titulo-principal">Acesse sua conta</h1>

          <p class="descricao">
            Acesse suas contratações, apólices <br> e muito mais!
          </p>

          <form [formGroup]="form" class="form-login" (ngSubmit)="login()" method="post" autocomplete="off">

            <div class="form-group">

              <div class="field-outlined-v3">
                <input id="field-email" type="email" placeholder=" " formControlName="email"
                  (focus)="setCurrentField('email')" (focusout)="setCurrentField(null)"
                  [ngClass]="{'is-invalid': isInvalidField('email')}" autocomplete="username">
                <label for="field-email" class="field-label">Email</label>

                <ng-container *ngIf="emailControl.touched && emailControl.invalid">
                  <!-- <ng-container *ngIf="form.get('email').errors"> -->
                  <div class="invalid-feedback">
                    {{ error('email') }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="form-group">
              <div class="field-outlined-v3">
                <input id="field-password" type="{{ (showPassword)? 'text':'password' }}" placeholder=" "
                  formControlName="password" (focus)="setCurrentField('password')" (focusout)="setCurrentField(null)"
                  [ngClass]="{'is-invalid': isInvalidField('password')}" autocomplete="current-password">
                <label for="field-password" class="field-label">Senha</label>

                <div class="eye" (click)="togglePasswordView()">
                  <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showPassword}"></span>
                </div>

                <ng-container *ngIf="passwordControl.touched && passwordControl.invalid">
                  <!-- <ng-container *ngIf="form.get('password').errors"> -->
                  <div class="invalid-feedback">
                    {{ error('password') }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-login" type="submit">Entrar</button>
            </div>

            <div class="form-group">
              <a [routerLink]="'/login/recuperar-senha'" title="Esqueci minha senha" class="esqueci-a-senha">
                Esqueci minha senha
              </a>
              <div class="esqueci-a-senha">
                Não possui uma conta?
                <a [routerLink]="'/cadastro'" title="Cadastre-se">
                  Cadastre-se
                </a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
