@import "./../../../assets/scss/form.scss";

/* PÁGINA ÁREA DO CLIENTE */
#pagina-area-segurado {
  .form-group {
    // margin-bottom: 0px;
    .eye {
      position: absolute;
      top: 8px;
      right: 1px;
      width: 50px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 25px;
        color: #cccccc;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .centralize {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .area-segurado-bloco-login {
    // width: 450px;
    // margin: 40px auto 30px;

    display: flex;
    width: 90%;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    // padding: 10px;

    .imagem-logo {
      width: 100%;
      margin-bottom: 20px;

      img {
        display: block;
        width: 200px;
        margin: 0 auto;
      }
    }

    h1.titulo-principal {
      // font-family: "Open Sans";
      // text-transform: none;
      // font-size: 28px;
      // font-weight: 600;
      // padding: 10px 0 0;
      // color: #f47521;
      // text-align: center;
      // line-height: 35px;
      // margin-top: 0;

      // font-family: "Open Sans";
      font-weight: 600;

      text-transform: none;
      padding: 10px 10px 10px;
      text-align: center;
      font-size: 30px;
      color: #303030;
      letter-spacing: -1px;
    }

    p.descricao {
      font-size: 16px;
      color: #303030;
      font-weight: 300;
      line-height: 25px;
      text-align: center;
    }

    .facebook-login {
      width: 100%;
      max-width: 350px;
      display: block;
      margin: auto;
      padding: 10px 15px;
      margin-bottom: 20px;

      .btn-facebook-login {
        padding: 10px 10px;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: normal;
        color: #fff;
        background: #36579a;
        border: 1px solid #36579a;
        border-radius: 4px;
        width: 100%;

        .fa-facebook {
          margin-right: 20px;
        }
      }
    }

    .form-login {
      width: 100%;
      // max-width: 350px;
      // display: block;
      // margin: auto;

      // input {
      //     font-family: "Open Sans";
      //     font-size: 15px;
      //     padding: 10px;
      //     height: 50px;
      //     border-radius: 4px;
      // }

      .btn-login {
        padding: 10px 10px;
        // font-family: "Open Sans";
        font-size: 15px;
        // font-weight: normal;
        color: #fff;
        background: #37458a;
        border: 1px solid #37458a;
        border-radius: 0px;
        box-shadow: none;
        outline: none;

        //font-weight: bold;
        width: 100%;
        margin-bottom: 10px;

        //width: 100px;
      }

      .esqueci-a-senha {
        display: block;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        line-height: 25px;
        margin-bottom: 5px;
      }
    }
  }
}

/* PÁGINA ÁREA DO CLIENTE */
