@import "./../../../assets/scss/colors.scss";

.grid-destinies {
  min-height: 100px;
}

.about-coverages {
  padding: 75px 20px 75px;
  border-bottom: 1px solid #ddd;

  .title {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }

  .subtitle {
    padding-top: 30px;
    font-size: 22px;
    color: #505050;
    line-height: 1.5;
  }

  .description {
    font-size: 16px;
    color: #505050;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
    line-height: 1.7;

    &.no-border {
      border-bottom: unset;
      padding-bottom: unset;
    }
  }
}

.faq {
  background: #f9f9f9;
  padding: 75px 20px 75px;
  border-bottom: 1px solid #ddd;

  .faq-subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #505050;
    line-height: 1.5;
  }

  .faq-description {
    font-size: 16px;
    color: #505050;
  }
}

@media (max-width: 767px) {
  .about-coverages {
    padding: 20px;

    .title {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      font-weight: 600;
    }

    .subtitle {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .description {
      padding-bottom: 20px;
      border-bottom: none;
    }
  }
}
