<ng-container *ngIf="data">
    <div class="alert alert-{{ data.type || 'danger' }} text-center mb-0">
        <div class="container">

            <div class="alert-dismissible fade show">
                {{ data?.message }}

                <button type="button" (click)="close()" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

        </div>
    </div>
</ng-container>
