.plan {
  .plan-item {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-wrap: wrap;

    width: 100%;
    margin-bottom: 15px;

    box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;
    padding: 15px;
  }

  .first-box {
    display: flex;
    align-items: center;
    // justify-content: center;
  }

  .image-insurance-company {
    margin-right: 20px;
    align-self: center;
  }

  .box-plan {
  }

  .title-plan {
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 0 7px;
    text-transform: uppercase;
  }

  .tags {
    position: relative;
  }

  .featured-tags {
    position: absolute;
    top: -10px;
    left: -10px;

    .featured-tag {
      display: inline-block;
      padding: 3px 10px;
      background: #222;
      // border: 1px dashed #fff;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 5px;
      white-space: nowrap;
    }
  }

  .action {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 12px;
    // text-align: center;

    .btn-type-link {
      // color: #8c8c8c;
      // text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .group-value {
    // width: 100%;
    width: 180px;
    margin-bottom: 10px;

    text-align: center;
    .age-value {
      font-size: 11px;
      color: #8c8c8c;
      // font-weight: 300;
    }

    .old-price {
      // font-weight: 600;
      font-size: 11px;
      color: #8c8c8c;
      text-decoration: line-through;
      font-weight: 600;
    }

    .price-plan {
      font-weight: 600;
      font-size: 20px;
      // color: #02b302;
      color: #303030;

      span {
        font-size: 12px;
      }
    }
  }

  .wrapper-compare{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 15px;
  }

  .box-main-coverages {
    padding-left: 7px;
    padding-right: 7px;
    // width: 200px;

    .title-coverage {
      width: 100%;
      font-size: 11px;
      color: #8c8c8c;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      height: 18px;
      overflow: hidden;
      text-transform: uppercase;
    }
    .value-coverage {
      width: 100%;
      font-weight: 600;
      font-size: 12px;
      color: #303030;
      margin-bottom: 5px;
    }
  }

  .item-action {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
    min-height: 180px;
    margin-left: auto;

    .btn-buy {
      max-width: 120px;
      width: 100%;
      padding: 7px 0;
      margin-top: 10px;
      margin-bottom: 10px;
      // margin-right: 8px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 0px;

      // background: #fff;
      // border: 1px solid#02b302;
      // color: #02b302;

      // &.main {
      background: #02b302;
      border: 1px solid#02b302;
      color: #fff;
      // }
    }
  }

  .form-check-label {
    font-size: 15px;
    cursor: pointer;
  }

  .form-check-input {
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .plan {
    .plan-item {
      flex-wrap: wrap;
    }

    .title-plan {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .box-main-coverages {
      display: none;
    }

    .action {
      text-align: center;
      margin-left: 0;

      .btn-type-link {
        font-size: 14px;
      }
    }

    .groups-value {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .group-value {
      // width: 50%;
    }

    .first-box {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    .image-insurance-company {
      margin-right: 0;
      margin-top: 15px;
      flex-basis: 100%;
      text-align: center;
    }

    .item-action {
      width: 100%;
      border-left: none;
      min-height: 130px;
      margin-top: 10px;

      .btn-buy {
        // max-width: unset;
        max-width: 200px;
        flex-basis: 100%;
        padding: 10px;
        font-size: 14px;
        // margin-bottom: 0;
      }
    }
  }
}
