.summary-plans-compare {
  position: fixed;
  bottom: 0;
  z-index: 210;
  background: #fff;
  width: 100%;
  min-height: 60px;
  display: flex;
  border-top: 1px solid #ddd;
  justify-content: space-between;
  align-items: center;
  left: 0;
  padding: 15px 0;
  // box-shadow: 0 0 4px 0 #dbdce5;

  .wrapper-compare-plans {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .compare-plans {
    display: flex;
    // width: 100%;
    // justify-content: space-between;
  }
  .compare-plan {
    min-width: 100px;
    // height: 70px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    // box-shadow: 0 0 4px 0 #dbdce5;
    border: 1px solid #ddd;
    background: #fff;

    img {
      width: 100%;
      max-width: 70px;
    }

    .title-plan {
      font-size: 12px;
    }

    .wrapper-compare {
      position: relative;
      padding: 10px 15px;
      width: 100%;
    }

    .icon-remove {
      position: absolute;
      top: -8px;
      right: -6px;
      color: red;
      font-size: 13px;
      cursor: pointer;
    }
  }

  .action {
    // width: 250px;
    display: flex;
    align-items: center;
    min-width: 200px;

    .btn-compare {
      width: 100%;
      max-width: 200px;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 0;
      padding: 10px;
      background: #303030;
      letter-spacing: 0.5px;
      font-weight: 600;
      border-color: #303030;
    }
  }
}

@media (max-width: 767px) {
  .compare-plan {
    min-width: unset;
  }

  .summary-plans-compare {
    .action {
      margin-top: 20px;
      width: 100%;
      min-width: unset;

      .btn-compare {
        max-width: unset;
      }
    }
  }
}
