<div class="post-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 order-md-1">

        <nav aria-label="breadcrumb" style="--skeleton-width: 100%; --skeleton-height: 30px;">
          <ol class="breadcrumb">

            <li class="breadcrumb-item" [ngClass]="{ 'skeleton-box':  (!show) }">
              <ng-container *ngIf="(show)">
                <a [routerLink]="['/blog']" title="Blog">Blog</a>
              </ng-container>
            </li>

            <ng-container *ngIf="(show)">
              <li class="breadcrumb-item" aria-current="page">
                {{ content.title }}
              </li>
            </ng-container>

          </ol>
        </nav>

        <div class="content-box-wrap">

          <div class="content-box">

            <h1 class="title" [ngClass]="{ 'skeleton-box': (!show) }"
              style="--skeleton-width: 100px; --skeleton-height: 50px;">
              {{ content?.title }}
            </h1>

            <div class="info" [ngClass]="{ 'skeleton-box': (!show) }"
              style="--skeleton-width: 100%; --skeleton-height: 30px;">

              <ng-container *ngIf="!!show">

                <div class="share">

                  <button type="button" class="btn-type-link" (click)="openWindow(share.facebook)" aria-label="Facebook">
                    <span class="icon icon-facebook-fill"></span>
                  </button>

                  <button type="button" class="btn-type-link" (click)="openWindow(share.twitter)" aria-label="Twitter">
                    <span class="icon icon-twitter-fill"></span>
                  </button>

                  <a [href]="share?.whatsapp" rel="noopener noreferrer" target="_blank" title="WhatsApp">
                    <span class="icon icon-whatsapp-full filled"></span>
                  </a>

                </div>

              </ng-container>
            </div>

            <!-- <div class="content-wrap" [ngClass]="{ 'skeleton-box':  (!show) }"
              style="--skeleton-width: 100%; --skeleton-height: 550px;"> -->
            <div class="content-wrap">
              <div class="content" [innerHTML]="(!!show ? content.content: imageLcp )"></div>

              <ng-container *ngIf="!!show && !!content.related_posts.length">
                <div class="see-more">
                  <div class="label-name">
                    Veja também:
                  </div>

                  <ng-container *ngFor="let relatedPost of content.related_posts">
                    <div class="item">
                      <a [routerLink]="['/blog/', (relatedPost.url) ]" title="{{ relatedPost.title }}">
                        {{ relatedPost.title }}
                      </a>
                    </div>
                  </ng-container>

                </div>
              </ng-container>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 order-md-2">


        <ng-container *ngIf="show">
          <div class="sticky sidebar-block" (deferLoad)="deferLazyLoad['sidebar'] = true">
            <ng-container *ngIf="isBot || deferLazyLoad['sidebar']">

              <h3 class="sidebar-title">
                Faça sua cotação
              </h3>
              <p class="sidebar-description">
                Compare e escolha seu plano entre diversas seguradoras.
              </p>
              <app-dynamic-quotation-section *ngxLazyEl></app-dynamic-quotation-section>
            </ng-container>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<div class="footer">
  <ng-container *ngIf="show">
    <div (deferLoad)="deferLazyLoad['footer'] = true">
      <ng-container *ngIf="isBot || deferLazyLoad['footer']">
        <app-dynamic-footer *ngxLazyEl></app-dynamic-footer>
      </ng-container>
    </div>
  </ng-container>
</div>
