<div class="alert alert-danger text-center mb-0">
  <div class="container">
      <div class="alert-dismissible fade show">
          <strong>
              Atenção: Esse é um sistema para demonstração de contratação de seguro viagem.
              <br />
              NENHUM pedido ou apólices geradas serão válidas.
          </strong>
      </div>
  </div>
</div>
