<div class="description">
  Ao finalizar seu pedido, abra o site ou app do seu banco.
  <br>
  Copie a chave pix ou escaneie o QR Code e faça o pagamento até a data limite.

  <br>
  <br>
  <strong>Atenção:</strong>
  <br>
  A emissão de apólice está vinculado a confirmação do pagamento.
  <br>
  Caso o pagamento não ocorra até a data limite, o pedido será automaticamente cancelado.
</div>
<!--
Abra o app

Instruções para pagar com Pix
1. Ao continuar será agendada uma chave PIX e um QR Code para pagamento.
2. Para efetuar o pagamento, copie a chave Pix ou aponte a câmera do seu smartphone para o QR Code.
3. Abra o site ou aplicativo do seu banco e selecione a opção pagar com Pix.
4. Após o pagamento, você receberá por e-mail a confirmação da compra.

Atenção
- O prazo de validade da chave é de 30 minutos. Em caso de não pagamento o pedido será cancelado.
- O prazo de entrega começa a contar após a confirmação do pagamento.
- Para sua segurança, o nome do favorecido do Pix deverá sempre ser Fast Shop S.A. -->
