@import "./../../../assets/scss/form.scss";

.actions{
  display: flex;
  justify-content: flex-end;
}

.form-group {
  // margin-bottom: 0px;
  .eye {
    position: absolute;
    top: 8px;
    right: 1px;
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 25px;
      color: #cccccc;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.btn-success {
    max-width: 120px;
    width: 100%;
    padding: 7px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0px;
    background: #37458a;
    border: 1px solid #37458a;
    color: #fff;
}
