<div class="checkout-page-structure">
  <div class="container-lg">
    <div class="row">
      <div class="col-12">
        <h1 class="checkout-main-title">Alterar senha</h1>
      </div>
      <div class="col-12 col-md-3">
        <app-menu></app-menu>
      </div>

      <div class="col-12 col-md-9">

        <div class="box-shadow">

          <form [formGroup]="form" (ngSubmit)="save()" method="post" autocomplete="off">

            <div class="row">

              <!-- <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" placeholder=" " formControlName="email" (focus)="setCurrentField('email')"
                      disabled (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid' : isInvalidField('email') }">
                    <span>Email</span>
                    <div class="invalid-feedback" *ngIf="form.get('email').errors">
                      {{ error('email') }}
                    </div>
                  </label>
                </div>
              </div> -->


              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="{{ (showPassword)? 'text':'password' }}" placeholder=" " formControlName="password"
                      (focus)="setCurrentField('password')" (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid' : isInvalidField('password')}">
                    <span>Senha</span>

                    <div class="eye" (click)="togglePasswordView()">
                      <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showPassword}"></span>
                    </div>

                    <div class="invalid-feedback" *ngIf="form.get('password').errors">
                      {{ error('password') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="{{ (showConfirmationPassword)? 'text':'password' }}" placeholder=" " formControlName="password_confirmation"
                      (focus)="setCurrentField('password_confirmation')" (focusout)="setCurrentField(null)"
                      [ngClass]="{'is-invalid' : isInvalidField('password_confirmation') }">
                    <span>Confirmação senha</span>

                    <div class="eye" (click)="toggleConfirmationPasswordView()">
                      <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showConfirmationPassword}"></span>
                    </div>

                    <div class="invalid-feedback" *ngIf="form.get('password_confirmation').errors">
                      {{ error('password_confirmation') }}
                    </div>
                  </label>
                </div>
              </div>

            </div>

            <div class="actions">
              <button type="submit" class="btn btn-success">Salvar</button>
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
</div>
