.coverage-title {
  font-size: 18px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 30px;

  span{
    font-size: 16px;
    color: #8c8c8c;
  }
}

table {
  tr {
    td:first-child {
      font-size: 14px;
      font-weight: 300;
      padding-left: 0;
    }
    td:nth-child(2n + 3) {
      font-size: 20px;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.plan-details{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  padding: 10px 20px;
}
