.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    max-width: 400px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .description {
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px;

    .icon-box {
      margin-right: 15px;

      .icon-whatsapp-full {
        font-size: 27px;
        color: #25d366;
      }
    }

    .text {
      font-size: 16px;
      color: #303030;
      a {
        text-decoration: none;
        font-size: 16px;
        color: #303030;
      }
    }
  }
}
