<div class="content">
  <div class="title">
    Não foi possível processar o seu pagamento
  </div>
  <div class="description">
    Confira os dados do seu cartão e se o valor da compra não excede o limite disponível.
    <br>
    <br>
    Você pode escolher outro cartão de crédito ou forma de pagamento.
  </div>
  <div class="description">
    <div class="icon-box">
      <span class="icon icon-whatsapp-full"></span>
    </div>
    <div class="text">
      <a class="box-whatsapp" href="https://api.whatsapp.com/send?phone=55{{ whatsappPhoneOnlyNumbers }}"
        target="_blank" rel="noopener noreferrer">
        Caso prefira, entre em contato com nosso atendimento <strong style="white-space: nowrap;">{{ whatsappPhone }}</strong> ou através do WhatsApp.
      </a>
    </div>
  </div>
</div>
