<section class="checkout-page-structure" *ngIf="show">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <a [routerLink]="'/pedido/passageiros'" class="btn-back-checkout">
          <span class="icon icon-arrow"></span>
        </a>
      </div>

      <div class="col-12">
        <h1 class="checkout-main-title">Escolha sua forma de pagamento</h1>
      </div>

      <div class="col-12 col-md-8">
        <div class="payment-methods-box">

          <ngb-accordion [closeOthers]="true" activeIds="" (panelChange)="beforeChange($event)">
            <ng-container *ngFor="let paymentMethod of paymentMethods; let i = index;">
              <ngb-panel id="static-{{ i }}">
                <ng-template ngbPanelTitle>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault{{ i }}"
                      id="flexRadioDefault{{ i + 1 }}"
                      [checked]="(selectedPaymentMethod && selectedPaymentMethod.id === paymentMethod.id)">

                    <label class="form-check-label">
                      <div class="circle">
                        <span class="icon icon-{{ paymentMethod.type }}"></span>
                      </div>

                      <div class="text">
                        {{ paymentMethod.name }}
                      </div>
                    </label>
                  </div>

                </ng-template>
                <ng-template ngbPanelContent>

                  <div title="{{ paymentMethod.name }}" *ngIf="paymentMethod.type === 'credit-card'">
                    <app-credit-card-form [paymentMethod]="paymentMethod" (pay)="pay($event)">
                    </app-credit-card-form>
                  </div>

                  <div title="{{ paymentMethod.name }}" *ngIf="paymentMethod.type === 'pix'">
                    <app-pix-payment-method [paymentMethod]="paymentMethod" (pay)="pay($event)">
                    </app-pix-payment-method>
                  </div>

                </ng-template>
              </ngb-panel>
            </ng-container>

          </ngb-accordion>

        </div>


      </div>

      <div class="col-12 d-block d-md-none">
        <div class="next-step">
          <button type="submit" class="btn-continue" [disabled]="(!selectedPaymentMethod)" (click)="onNextStep($event)">
            {{ buttonName }}
          </button>
        </div>
      </div>

      <div class="col-12 col-md-4" id="resumo">
        <app-summary [order]="order" [step]="5" [showButton]="true" [buttonName]="buttonName"
          (nextStep)="onNextStep($event)"></app-summary>
      </div>

    </div>
  </div>
</section>

<ng-container *ngIf="showModal === 'credit-card-not-approved'">
  <app-dynamic-modal *ngxLazyEl (ready)="modalReady['modal-credit-card-not-approved']=true" (byClose)="closeModal()"
    [options]="{ size: 'ui-small'}">

    <ng-container *ngIf="modalReady['modal-credit-card-not-approved']">

      <app-order-not-approved></app-order-not-approved>

    </ng-container>
  </app-dynamic-modal>
</ng-container>
