.checkout-page-structure {
  padding: 10px;
}

.payment-methods-box {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 4px 0 #dbdce5;
  margin-bottom: 20px;
}

.form-check {
  display: flex;
  align-items: center;
  cursor: pointer;

  .form-check-input {
    width: 18px;
    height: 18px;
  }

  .form-check-label {
    margin-left: 10px;
    margin-top: 2px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .circle {
    border-radius: 60px;
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    .icon-credit-card {
      margin-top: 5px;
      font-size: 25px;
      color: #707070;
    }

    .icon-pix {
      margin-top: 5px;
      font-size: 23px;
      color: #32bcad;
    }
  }
}

.next-step {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 40px;
  display: flex;
  // justify-content: flex-end;

  .btn-continue {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #03b304;
    border: 1px solid #03b304;
    border-radius: 0px;
    max-width: 350px;
    width: 100%;
    text-transform: uppercase;

    &:disabled {
      opacity: 0.6;
    }
  }
}

@media (max-width: 575px) {
  ::ng-deep ngb-accordion .card {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

::ng-deep ngb-accordion .card {
  border-radius: 0;

  .card-header {
    background: none;
    padding: 0;
    border-radius: 0;

    .btn {
      width: 100%;
      color: #303030;
      text-align: left;
      padding: 20px 20px;
      border-radius: 0;
      text-decoration: none;
      box-shadow: none;
      outline: none;
      cursor: pointer;
    }
  }
}
