@import "./../../../assets/scss/colors.scss";
@import "./../../../assets/scss/form.scss";

.form-quotation {
  color: #222;
  max-width: 350px;
  width: 100%;
  padding: 10px;

  .subtitle {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }

  .btn-quote {
    margin-top: 10px;
    width: 100%;
    background: #03b304;
    border: 1px solid #03b304;
    padding: 10px 7px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.coupon-code {
  margin-bottom: 15px;
  font-size: 12px;
  padding: 3px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  text-align: center;
}

.checkbox-label-inputs {
  font-size: 14px;
  font-weight: 300;
  color: #303030;
}

@media (max-width: 767px) {

}

::ng-deep .dropdown-menu {
  top: -160px !important;
  width: 100%;
  border-radius: 0;

  .ngb-dp-month {
    width: 100%;
    // background: red;

    .ngb-dp-week {
      display: flex;
      justify-content: space-between;
    }
  }

  .ngb-dp-weekday {
    font-size: 14px;
    font-style: unset;
    color: #505050;
  }

  .ngb-dp-month-name {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
  }

  ngb-datepicker-navigation {
    padding: 10px;
  }

  .ngb-dp-arrow-btn {
    outline: none;
    box-shadow: unset;
    color: #505050;
  }
}
