<app-dynamic-message *ngxLazyEl></app-dynamic-message>

<section id="pagina-area-segurado">
  <div class="container">
    <div class="row">
      <div class="centralize">

        <div class="area-segurado-bloco-login">
          <div class="imagem-logo">
            <a [routerLink]="'/'" title="Home">
              <img src="/assets/images/preseguro.svg" alt="Preseguro logo">
            </a>
          </div>

          <h1 class="titulo-principal">Crie sua conta</h1>

          <p class="descricao">
            Acesso rápido e fácil a contratações, apólices <br> e muito mais!
          </p>

          <form [formGroup]="form" class="form-login" (ngSubmit)="register()" method="post" autocomplete="off">
            <div class="row">

              <div class="col-12">
                <div class="form-group">

                  <label class="field-outlined">
                    <input type="text" placeholder=" " formControlName="name" (focus)="setCurrentField('name')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('name')}">
                    <span>Nome Completo</span>

                    <ng-container *ngIf="form.get('name').errors">
                      <div class="invalid-feedback">
                        {{ error('name') }}
                      </div>
                    </ng-container>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group" *ngIf="showField('document', 'name')">

                  <label class="field-outlined">
                    <input type="tel" placeholder=" " formControlName="document" (focus)="setCurrentField('document')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('document')}"
                      (input)="mask('document')">
                    <span>CPF</span>

                    <ng-container *ngIf="form.get('document').errors">
                      <div class="invalid-feedback">
                        {{ error('document') }}
                      </div>
                    </ng-container>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group" *ngIf="showField('email', 'name')">

                  <label class="field-outlined">
                    <input type="email" placeholder=" " formControlName="email" (focus)="setCurrentField('email')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('email')}"
                      autocomplete="off">
                    <span>Email</span>

                    <ng-container *ngIf="form.get('email').errors">
                      <div class="invalid-feedback">
                        {{ error('email') }}
                      </div>
                    </ng-container>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group" *ngIf="showField('phone', 'email')">

                  <label class="field-outlined">
                    <input type="tel" placeholder=" " formControlName="phone" (focus)="setCurrentField('phone')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('phone')}"
                      (input)="mask('phone')" autocomplete="off">
                    <span>Telefone</span>

                    <ng-container *ngIf="form.get('phone').errors">
                      <div class="invalid-feedback">
                        {{ error('phone') }}
                      </div>
                    </ng-container>
                  </label>

                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group" *ngIf="showField('password', 'phone')">

                  <label class="field-outlined">
                    <input type="{{ (showPassword)? 'text':'password' }}" placeholder=" " formControlName="password"
                      (focus)="setCurrentField('password')" (focusout)="setCurrentField(null)"
                      [ngClass]="{'is-invalid': isInvalidField('password')}" autocomplete="off">
                    <span>Senha</span>

                    <div class="eye" (click)="togglePasswordView()">
                      <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showPassword}"></span>
                    </div>

                    <ng-container *ngIf="form.get('password').errors">
                      <div class="invalid-feedback">
                        {{ error('password') }}
                      </div>
                    </ng-container>
                  </label>
                </div>
              </div>

              <div class="col-md-6 col-12">

                <div class="form-group" *ngIf="showField('password_confirmation', 'phone')">

                  <label class="field-outlined">
                    <input type="{{ (showConfirmationPassword)? 'text':'password' }}" placeholder=" "
                      formControlName="password_confirmation" (focus)="setCurrentField('password_confirmation')"
                      (focusout)="setCurrentField(null)"
                      [ngClass]="{'is-invalid': isInvalidField('password_confirmation')}" autocomplete="off">
                    <span>Confirme a Senha</span>

                    <div class="eye" (click)="toggleConfirmationPasswordView()">
                      <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showConfirmationPassword}"></span>
                    </div>

                    <ng-container *ngIf="form.get('password_confirmation').errors">
                      <div class="invalid-feedback">
                        {{ error('password_confirmation') }}
                      </div>
                    </ng-container>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <hr>
              </div>

              <div class="col-12 col-md-4">
                <div class="form-group"
                  *ngIf="showField('zipcode', 'password') && showField('zipcode', 'password_confirmation')">

                  <label class="field-outlined">
                    <input type="tel" placeholder=" " formControlName="zipcode" (focus)="setCurrentField('zipcode')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('zipcode')}"
                      (input)="mask('zipcode')" (input)="findByZipcode($event)">
                    <span>CEP</span>

                    <ng-container *ngIf="form.get('zipcode').errors">
                      <div class="invalid-feedback">
                        {{ error('zipcode') }}
                      </div>
                    </ng-container>
                  </label>

                </div>
              </div>

              <ng-container *ngIf="showField('street', 'zipcode')">
                <div class="col-12 col-md-8">
                  <div class="form-group">

                    <label class="field-outlined">
                      <input type="text" placeholder=" " formControlName="street" (focus)="setCurrentField('street')"
                        (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('street')}">
                      <span>Rua</span>

                      <ng-container *ngIf="form.get('street').errors">
                        <div class="invalid-feedback">
                          {{ error('street') }}
                        </div>
                      </ng-container>
                    </label>
                  </div>
                </div>

                <div class="col-md-3 col-5 pr-0">
                  <div class="form-group">

                    <label class="field-outlined">
                      <input type="text" placeholder=" " formControlName="number" (focus)="setCurrentField('number')"
                        (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('number')}">
                      <span>Número</span>

                      <ng-container *ngIf="form.get('number').errors">
                        <div class="invalid-feedback">
                          {{ error('number') }}
                        </div>
                      </ng-container>
                    </label>
                  </div>
                </div>

                <div class="col-md-6 col-7 pl-3">
                  <div class="form-group">

                    <label class="field-outlined">
                      <input type="text" placeholder=" " formControlName="complement"
                        (focus)="setCurrentField('complement')" (focusout)="setCurrentField(null)"
                        [ngClass]="{'is-invalid': isInvalidField('complement')}">
                      <span>Complemento</span>

                      <ng-container *ngIf="form.get('complement').errors">
                        <div class="invalid-feedback">
                          {{ error('complement') }}
                        </div>
                      </ng-container>
                    </label>
                  </div>
                </div>

                <div class="col-md-3 col-12">
                  <div class="form-group">

                    <label class="field-outlined">
                      <input type="text" placeholder=" " formControlName="district"
                        (focus)="setCurrentField('district')" (focusout)="setCurrentField(null)"
                        [ngClass]="{'is-invalid': isInvalidField('district')}">
                      <span>Bairro</span>

                      <ng-container *ngIf="form.get('district').errors">
                        <div class="invalid-feedback">
                          {{ error('district') }}
                        </div>
                      </ng-container>
                    </label>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">

                    <label class="field-outlined">
                      <input type="text" placeholder=" " formControlName="city" (focus)="setCurrentField('city')"
                        (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('city')}">
                      <span>Cidade</span>

                      <ng-container *ngIf="form.get('city').errors">
                        <div class="invalid-feedback">
                          {{ error('city') }}
                        </div>
                      </ng-container>
                    </label>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">

                    <label class="field-outlined select-outlined">
                      <select formControlName="state" required (focus)="setCurrentField('state')"
                        (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('state')}">
                        <option value="" disabled hidden selected></option>
                        <option value="" disabled selected>Selecione o destino</option>
                        <option *ngFor="let state of states" [value]="state.code">
                          {{ state.name }}
                        </option>
                      </select>
                      <span>Estado</span>
                      <em class="select-arrow"></em>
                      <div class="invalid-feedback" *ngIf="form.get('state').errors">
                        {{ error('state') }}
                      </div>
                    </label>
                  </div>
                </div>

              </ng-container>

              <div class="col-12">
                <div class="form-group text-center">
                  <button class="btn btn-register" type="submit">
                    Cadastrar
                  </button>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">

                  <div class="esqueci-a-senha">
                    Já possui uma conta?
                    <a [routerLink]="'/login'" title="Já tenho uma conta">
                      Acesse
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
