@import "./../../../../../assets/scss/form.scss";

// .main-title {
//     text-transform: none;
//     padding: 0 0 20px;
//     text-align: center;
//     padding-top: 20px;
//     font-size: 30px;
//     color: #303030;
//     letter-spacing: -1px;
// }

::ng-deep ngb-tabset .nav {
  display: none;
}

.content {
  // max-width: 400px;
  padding: 10px;
}

.description {
  font-size: 14px;
  color: #505050;
}

.next-step {
  //width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  // padding: 50px 10px;

  .btn-avancar {
    padding: 10px 20px;
    // font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    // margin-right: 20px;
    // background: #f47521;
    // border: 1px solid #f47521;
    background: #03b304;
    border: 1px solid #03b304;
    border-radius: 0px;
    // max-width: 200px;
    width: 100%;
  }
}

.installments-box {
  padding-left: 20px;

  .main-label {
    font-size: 14px;
  }
}

.installment-box {
  margin-bottom: 10px;
  cursor: pointer;

  .form-check {
  }

  .form-check-input {
    width: 15px;
    height: 15px;
  }

  .form-check-label {
    margin-left: 10px;
    color: #505050;

    // margin-top: 2px;
  }

  .number-installment {
    font-size: 14px;
  }
  .currency-symbol-installment {
    font-size: 11px;
    margin-right: 5px;
  }
  .price-installment {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .content {
    // margin-bottom: 70px;
    padding: 0px 0px 0;
    // margin-bottom: 70px;
  }

  .next-step {
    position: fixed;
    bottom: 0;
    z-index: 2;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    background: #fff;

    .btn-avancar {
      margin-top: 5px;
      margin-bottom: 5px;
      // max-width: inherit;
      width: 100%;
      max-width: 250px;
    }
  }

  .block-next-step {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
