<div class="content" *ngIf="!!paymentMethod">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">

      <div class="col-12">
        <p class="description">

          Não armazenamos os dados seu cartão de crédito. <br>
          Essa informação será utilizada apenas para processar o <strong>pagamento do seguro</strong>.
        </p>
      </div>

      <div class="col-md-6 col-12">
        <div class="row">
          <!--NÚMERO DO CARTÃO-->
          <div class="col-12">
            <div class="form-group">

              <label class="field-outlined">
                <input type="tel" placeholder=" " formControlName="creditcard_number"
                  (focus)="setCurrentField('creditcard_number')" (focusout)="setCurrentField(null)"
                  [ngClass]="{'is-invalid': isInvalidField('creditcard_number')}" (input)="mask('creditcard_number')">
                <span>Número do cartão</span>

                <ng-container>
                  <div class="invalid-feedback" *ngIf="form.get('creditcard_number').errors">
                    {{ error('creditcard_number') }}
                  </div>
                </ng-container>
              </label>
            </div>
          </div>

          <!--VALIDADE-->
          <div class="col-6 pr-2">
            <div class="form-group">

              <label class="field-outlined">
                <input type="tel" placeholder=" " formControlName="creditcard_expire"
                  (focus)="setCurrentField('creditcard_expire')" (focusout)="setCurrentField(null)"
                  [ngClass]="{'is-invalid': isInvalidField('creditcard_expire')}" (input)="mask('creditcard_expire')">
                <span>Validade</span>

                <ng-container *ngIf="form.get('creditcard_expire').errors">
                  <div class="invalid-feedback">
                    {{ error('creditcard_expire') }}
                  </div>
                </ng-container>
              </label>
            </div>
          </div>

          <!--CÓDIGO-->
          <div class="col-6 pl-2">
            <div class="form-group">

              <label class="field-outlined">
                <input type="tel" placeholder=" " formControlName="creditcard_cvv"
                  (focus)="setCurrentField('creditcard_cvv')" (focusout)="setCurrentField(null)"
                  [ngClass]="{'is-invalid': isInvalidField('creditcard_cvv')}" (input)="mask('creditcard_cvv')">
                <span>CVV</span>

                <ng-container *ngIf="form.get('creditcard_cvv').errors">
                  <div class="invalid-feedback">
                    {{ error('creditcard_cvv') }}
                  </div>
                </ng-container>
              </label>
            </div>
          </div>

          <!-- NOME COMPLETO -->
          <div class="col-12">
            <div class="form-group">

              <label class="field-outlined">
                <input type="text" placeholder=" " formControlName="creditcard_name"
                  (focus)="setCurrentField('creditcard_name')" (focusout)="setCurrentField(null)"
                  [ngClass]="{'is-invalid': isInvalidField('creditcard_name')}">
                <span>Nome impresso no cartão</span>

                <ng-container *ngIf="form.get('creditcard_name').errors">
                  <div class="invalid-feedback">
                    {{ error('creditcard_name') }}
                  </div>
                </ng-container>
              </label>
            </div>
          </div>


          <!-- BANDEIRA -->
          <div class="col-12">
            <div class="form-group">

              <label class="field-outlined select-outlined">
                <select formControlName="creditcard_brand" required (focus)="setCurrentField('creditcard_brand')"
                  (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('creditcard_brand')}">
                  <option value="" disabled hidden selected>
                  </option>
                  <option value="" disabled selected>
                    Selecione
                    a parcela</option>

                  <ng-container *ngIf="paymentMethod.additional_data?.available_brands">
                    <option *ngFor="let brand of paymentMethod.additional_data.available_brands" [value]="brand">
                      {{ brand }}
                    </option>
                  </ng-container>
                </select>
                <span>Bandeira</span>
                <em class="select-arrow"></em>
                <div class="invalid-feedback" *ngIf="form.get('creditcard_brand').errors">
                  {{ error('creditcard_brand') }}
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="row">

          <div class="col-12">
            <div class="form-group installments-box">

              <label class="main-label">Parcelamento:</label>

              <div class="invalid-feedback d-block" *ngIf="isInvalidField('installment')">
                {{ error('installment') }}
              </div>

              <ng-container *ngIf="paymentMethod.additional_data?.installments">
                <ng-container *ngFor="let installment of paymentMethod.additional_data.installments; let i = index">

                  <div class="form-check installment-box">
                    <input class="form-check-input" type="radio" formControlName="installment"
                      [value]="installment.installment" name="installment" id="installmentRadio-{{ i }}"
                      value="option{{ i }}" [ngClass]="{'is-invalid': isInvalidField('installment')}">
                    <label class="form-check-label" for="installmentRadio-{{ i }}">
                      <span class="number-installment">{{ installment.installment }}x de </span>
                      <span class="currency-symbol-installment">R$</span>
                      <span class="price-installment">{{ installment.installment_value | currency:'BRL':'' }}</span>
                    </label>
                  </div>
                </ng-container>
              </ng-container>

            </div>
          </div>

          <!--PARCELAMENTO-->
          <!-- <div class="col-12">
            <div class="form-group">

              <label class="field-outlined select-outlined">
                <select formControlName="installment" required (focus)="setCurrentField('installment')"
                  (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('installment')}">
                  <option value="" disabled hidden selected>
                  </option>
                  <option value="" disabled selected>
                    Selecione
                    a parcela</option>
                  <option *ngFor="let installment of paymentMethod.additional_data.installments"
                    [value]="installment.installment">
                    {{ installment.installment }}x de R$
                    {{ installment.installment_value |
                    currency:'BRL':'' }}
                  </option>
                </select>
                <span>Parcelamento</span>
                <em class="select-arrow"></em>
                <div class="invalid-feedback" *ngIf="form.get('installment').errors">
                  {{ error('installment') }}
                </div>
              </label>
            </div>
          </div> -->

        </div>
      </div>

      <!-- <div class="col-12">

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Li e aceito <a target="_blank" href="/blog/condicoes-gerais" rel="noopener noreferrer">condições
                gerais</a>
            </label>
          </div>
        </div>

        <div class="description">
          Li e aceito <a target="_blank" href="/blog/condicoes-gerais" rel="noopener noreferrer">condições
            gerais</a>
        </div>
      </div> -->

      <!-- <div class="col-12">
        <div class="next-step">
          <div class="block-next-step">
            <button type="submit" class="btn-avancar">
              Pagar
            </button>
          </div>
        </div>
      </div> -->

    </div>
  </form>
</div>
