@import "./../../../../assets/scss/form.scss";

// .bloco-cupom {
// display: flex;
// width: 100%;
// justify-content: center;
// align-items: center;

.btn-type-link {
  font-size: 12px;
}

.box-item {
  display: flex;
}

.current-coupon {
  font-size: 11px;

  .icon-remove {
    font-size: 9px;
  }

  .btn-current-coupon {
    font-size: 11px;
    padding: 5px;
    border: 1px solid #DDD;
  }
}

.coupon-form {
  padding: 15px 10px;
}

.btn-coupon {
  text-align: center;
  padding: 15px 15px;
  font-size: 11px;
  border-radius: 0px;
  margin-top: 6px;
  font-weight: 600;
  border: 1px solid #ddd;
  // border-left: none;
  text-transform: uppercase;
  height: 50px;

  &:hover {
    background: #f8f9fa;
  }
}

.form-inline .form-group {
  flex: unset;
}

// form {
//   width: 100%;
//   max-width: 400px;
// }

// margin-top: 20px;
//border-top: 1px solid #DDD;
// padding: 10px 10px;

// .subtitulo {
//   font-family: "Open Sans";
//   text-transform: none;
//   font-size: 18px;
//   font-weight: 600;
//   color: #777;
//   margin-bottom: 15px;
//   padding: 0 5px;
// }

// .texto-cupom {
//   color: #777;
//   font-size: 12px;
//   padding: 0 20px 5px;
//   margin-bottom: 20px;
// }

// .alert-cupom {
//   margin: 0;
//   color: #d91f26;
//   font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 13px;
//   font-weight: normal;
//   padding: 0 15px 5px;
//   display: none;
// }

// .form-group {
//   padding: 0 3px;

//   input {
//     font-family: "Open Sans";
//     font-size: 15px;
//     padding: 10px;
//     height: 44px;
//     border-radius: 4px;
//   }

//   &.campo-validacao label.error {
//     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
//     color: #d91f26;
//     font-weight: normal;
//     font-size: 13px;
//     padding: 5px;
//   }
// }

// .botao-cupom {
//   // padding: 0px;

// }
// }
