<div class="box-content" *ngIf="!!order">

  <div class="action" *ngIf="!(!!order.coupon)">
    <button type="button" class="btn btn-type-link" (click)="onShowForm()">
      Possui um cupom de desconto?
    </button>
  </div>

  <ng-container *ngIf="(!!order.coupon)">
    <div class="current-coupon">

      Desconto: {{ order.coupon.discount }}

      <br>
      Cupom:
      <button type="button" class="btn btn-light btn-current-coupon" (click)="remove()">
        {{ order.coupon.code }} <span class="icon icon-remove"></span>
      </button>

    </div>
  </ng-container>

  <div class="coupon-form" *ngIf="showForm && !(!!order.coupon)">

    <form [formGroup]="form" (ngSubmit)="apply()" autocomplete="off" class="">

      <div class="box-item">
        <div class="form-group">

          <label class="field-outlined">
            <input type="text" placeholder=" " formControlName="code" (focus)="setCurrentField('code')"
              (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid': isInvalidField('code')}">
            <span>Cupom</span>

            <ng-container *ngIf="isInvalidField('code')">
              <div class="invalid-feedback d-block">
                {{ error('code') }}
              </div>
            </ng-container>
          </label>
        </div>

        <div class="form-group">
          <button class="btn btn-light btn-coupon" type="submit">Aplicar</button>
        </div>
      </div>

    </form>
  </div>
</div>
