.content{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    // max-width: 400px;
    // width: 100%;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

    .icon-404{
        font-size: 100px;
    }
    
    .text{
        font-size: 18px;
    }
    
}