<div class="posts-content checkout-page-structure">
  <div class="container-lg">
    <div class="row">
      <div class="col-12 col-md-12">

        <h1 class="checkout-main-title text-center">FAQ - Seguro de Viagem</h1>
        <div class="page-description">
          Veja as perguntas mais frequentes e suas respostas sobre seguro viagem de forma resumida e rápida.
        </div>

        <ng-container *ngIf="show">

          <ng-container *ngIf="posts.length > 0">

            <div class="row">

              <div class="col-12 col-md-8">
                <ng-container *ngFor="let post of posts; let i = index">
                  <div class="cardx">
                    <a [routerLink]="['/blog/faq/', (post.slug) ]" title="{{ post.title }}">
                      <h2 class="card-title">
                        {{ post.title }}
                      </h2>
                    </a>
                  </div>
                </ng-container>
              </div>

              <div class="col-12 col-md-4">
                <div class="sidebar-block">
                  <h3 class="sidebar-title">
                    Faça sua cotação
                  </h3>
                  <p class="sidebar-description">
                    Compare e escolha seu plano entre diversas seguradoras.
                  </p>
                  <app-dynamic-quotation-section *ngxLazyEl></app-dynamic-quotation-section>
                </div>
              </div>
            </div>

            <ng-container *ngIf="totalPages > 1">
              <div class="row">
                <div class="col-12 mt-4 mb-4">
                  <app-pagination [url]="'/blog/faq'" [totalPages]="totalPages"
                    [currentPage]="currentPage"></app-pagination>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="posts.length === 0">
            Nenhum post encontrado
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<div class="footer">
  <ng-container *ngIf="show">
    <div (deferLoad)="deferLazyLoad['footer'] = true">
      <ng-container *ngIf="isBot || deferLazyLoad['footer']">
        <app-dynamic-footer *ngxLazyEl></app-dynamic-footer>
      </ng-container>
    </div>
  </ng-container>
</div>
