@use "sass:math";

.posts-content {
  min-height: calc(100vh - 438px);
  background: #f5f5f5;
  padding: 10px;

  .page-description {
    font-size: 16px;
    color: #303030;
    width: 100%;
    margin-bottom: 20px;
    min-height: 50px;
    text-align: center;
  }
}

.cardx {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 0 #dbdce5;
  background: #fff;
  padding: 10px;

  .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    font-size: 20px;
    text-align: center;
    color: #303030;
  }

  a {
    color: unset;
  }
}

.sidebar-block {
  box-shadow: 0 0 4px 0 #dbdce5;
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;

  .sidebar-title {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px 0;
    margin-bottom: 0;
  }

  .sidebar-description {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px 10px;
    margin-bottom: 0;
  }
}

.footer {
  min-height: 100px;
}

@media (max-width: 767px) {
  .posts-content {
    min-height: 100vh;

    .page-description {
      min-height: 150px;
    }
  }
}
