<!-- <div appGtmScriptLazyLoad></div> -->

<ng-container *ngIf="showHeader">
  <!-- <app-dynamic-main-header *ngxLazyEl [isOrderFlow]="isOrderFlow"></app-dynamic-main-header> -->
  <app-main-header [isOrderFlow]="isOrderFlow"></app-main-header>

  <ng-container *ngIf="loadDynamicMessage">
    <app-dynamic-message *ngxLazyEl></app-dynamic-message>
  </ng-container>
</ng-container>

<ng-container *ngIf="isSandbox">
  <app-dynamic-warning *ngxLazyEl></app-dynamic-warning>
</ng-container>

<ng-container *ngIf="showLoading">
  <app-loading></app-loading>
</ng-container>

<div class="whatsapp-float">
  <!-- <app-whatsapp-float></app-whatsapp-float> -->
  <app-dynamic-whatsapp-float *ngxLazyEl></app-dynamic-whatsapp-float>
</div>

<router-outlet></router-outlet>