<div class="rodape">
  <div class="container">
    <div class="row">


      <div class="col-12 col-md-6">
        <div class="rodape-item">
          <img src="/assets/images/preseguro-white.svg" width="170" height="39" alt="Preseguro">
          <p>

            Garanta sua tranquilidade desde o início! <br> Compare e escolha o seguro viagem perfeito para você.
            <!-- Faça a cotação do seu seguro viagem e encontre o plano ideal! -->
            <!-- Faça a cotação dos melhores planos de seguro viagem e contrate agora! -->
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6">

        <div class="rodape-item">
          <div class="rodape-certificados">
            <!-- <div class="item">
              <a href="https://www.tripguard.com.br/" title="TripGuard" rel="noopener noreferrer" target="_blank">
                <img src="/assets/images/apple_app_store.png" width="134" height="45" alt="Download App na Apple Store">
              </a>
            </div> -->

            <div class="apps-item">

              <a href="https://apps.apple.com/us/app/preseguro/id6450798349" title="Download na App Store" class="box-item" rel="noopener noreferrer" target="_blank">
                <img src="/assets/images/app_store.svg"  height="46" alt="Download App na App Store">
              </a>

              <a href="https://play.google.com/store/apps/details?id=com.preseguro" title="Download App no Google Play" class="box-item"
                rel="noopener noreferrer" target="_blank">
                <img src="/assets/images/google_play.svg"  height="46"
                  alt="Download App na Google Play">
              </a>
            </div>

            <!-- <div class="item item-certificates">
              <a href="https://www.tripguard.com.br/" title="TripGuard" class="box-item box-tripguard"
                rel="noopener noreferrer" target="_blank">
                <img src="/assets/images/logo-tripguard.png" width="170" height="97" alt="TripGuard">
              </a>
              <a href="/assets/files/cadastur.pdf" title="Certificado Cadastur" class="box-item box-cadastur"
                rel="noopener noreferrer" target="_blank">
                <img src="/assets/images/logo-cadastur.png" width="170" height="38" alt="Cadastur">
              </a>
            </div> -->
          </div>

        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="rodape-item">
          <div class="rodape-titulo">Conheça mais</div>
          <ul class="lista">
            <li><a [routerLink]="'/blog/sobre-nos'" title="Sobre nós">Sobre nós</a></li>
            <li><a [routerLink]="'/blog/como-comprar-seguro-viagem'" title="Como comprar">Como comprar</a></li>
            <li><a [routerLink]="'/blog'" title="Nosso Blog">Nosso Blog</a></li>
            <li><a [routerLink]="'/blog/condicoes-gerais'" title="">Condições gerais</a></li>
            <li><a [routerLink]="'/blog/termos-condicoes'" title="Termos e condições">Termos e condições</a></li>
            <li><a [routerLink]="'/blog/politica-de-privacidade'" title="Política de privacidade">Política de
                privacidade</a></li>
          </ul>
        </div>

      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="rodape-item">
          <div class="rodape-titulo">Seguro viagem</div>
          <ul class="lista">
            <li><a [routerLink]="'/blog/seguro-viagem-europa'" title="Seguro de viagem para europa">Seguro Viagem
                Europa</a></li>
            <li><a [routerLink]="'/blog/seguro-viagem-mundo'" title="Seguro de viagem para o mundo">Seguro Viagem
                Mundo</a></li>
            <li><a [routerLink]="'/blog/seguro-viagem-estudante-intercambio'"
                title="Seguro de viagem para estudantes em intercâmbio">Seguro Viagem Estudante</a></li>
            <li><a [routerLink]="'/blog/seguro-viagem-america-latina'"
                title="Seguro de viagem para américa latina">Seguro Viagem América latina</a></li>
            <li><a [routerLink]="'/blog/seguro-viagem-brasil'" title="Seguro de viagem para o Brasil">Seguro Viagem
                Brasil</a></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4">
        <div class="rodape-item">

          <div class="rodape-titulo mt-3">Formas de pagamento</div>
          <div class="icons">
            <span class="icon icon-pix"></span>
            <span class="icon-label">Pix</span>
          </div>
          <div class="icons">
            <span class="icon icon-credit-card"></span>
            <span class="icon-label">Cartão de crédito</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="rodape-direitos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="address-info">
            <p>
              TRIPGUARD AGENCIA DE VIAGENS E TURISMO LTDA | CNPJ: 13.225.630/0001-06 | R. Cláudio Soares, 72 CJ 1406 -
              São Paulo, SP - 05422-030
            </p>

            <p>
              <a href="https://www.facebook.com/presegurobr/" title="Facebook" target="_blank">
                <span class="icon icon-facebook-flat"></span>
              </a>
              <a href="https://instagram.com/preseguro" title="Instagram" target="_blank">
                <span class="icon icon-instagram-flat"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
