.rodape {
  font-family: "Open Sans";
  background-color: #0c1853;
  color: #ffffff;
  padding-top: 10px;
  // float: left;
  width: 100%;

  .rodape-item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;

    .rodape-titulo {
      font-size: 24px;
      font-weight: 600;
      padding: 10px 0;

      &:after {
        content: "";
        display: block;
        width: 35px;
        border-bottom: 1px solid #f47521;
        margin-top: 20px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 300;
      padding: 10px 0;
      margin-top: 10px;
      line-height: 30px;
    }

    .lista {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 10px 0;

        //   &:before {
        //     content: '\f105';
        //     font: normal normal normal 16px/1 FontAwesome;
        //     color: #f47521;
        //     margin-right: 10px;
        //   }

        a {
          color: #ffffff;
          font-weight: 300;
        }

        &:hover {
          color: #f6ba18;
        }
      }
    }

    .rodape-informativo {
      input {
        background: #f7f7f7;
        width: 90%;
        //margin-bottom: 5px;
        font-family: "Open Sans";
      }

      .botao-cadastrar {
        background: #dd6d1b;
        font-size: 14px;
        border: 1px solid #dd6d1b;
        font-family: "Open Sans";
      }
    }
  }

  .rodape-certificados {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    // justify-content: space-between;
    justify-content: flex-end;

    .item {
      margin: 0 10px;
      display: flex;

      &.item-certificates {
        align-items: flex-end;
      }
    }

    .apps-item {
      // display: flex;
      // flex-direction: column;

      .box-item {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  .rodape-direitos {
    padding: 10px 0 20px;
    color: #fff;
    font-size: 14px;
    background-color: #17215d;

    .address-info {
      display: flex;
      align-items: center;
      padding: 0 10px;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    .icon-instagram-flat {
      font-size: 30px;
      color: #fff;
      margin-left: 15px;
    }

    .icon-facebook-flat {
      font-size: 28px;
      color: #fff;
      margin-left: 15px;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .icon-pix {
      font-size: 35px;
      color: #32bcad;
    }

    .icon-credit-card {
      font-size: 35px;
      color: #fff;
      margin-top: 7px;
    }

    .icon-label {
      margin-left: 20px;
      color: #fff;
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .rodape {
    .rodape-direitos {
      .address-info {
        flex-direction: column-reverse;
        margin-bottom: 60px;
      }
    }

    .rodape-item {
    }

    .rodape-certificados {
      justify-content: unset;

      .item {
        margin: 10px 0;

        &.item-certificates {
          overflow: hidden;
        }

        // &.apps-item {
        //   // display: flex;
        //   // flex-direction: column;

        //   .box-item {
        //     margin-bottom: 10px;
        //   }
        // }
      }

      .box-item {
        margin: 10px;
        width: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }

      .apps-item {
        display: flex;
        // flex-direction: column;

        .box-item {
          margin-right: 15px;
          margin-bottom: 15px;

          img {
            max-width: 120px;
          }
        }
      }

      .box-tripguard {
      }
      .box-cadastur {
      }
    }
  }
}
