<app-dynamic-message *ngxLazyEl></app-dynamic-message>

<section id="pagina-area-segurado">
    <div class="container">
        <div class="row">

            <div class="centralize">
                <div class="area-segurado-bloco-login">
                    <div class="imagem-logo">
                        <a [routerLink]="'/'" title="Home">
                            <img src="/assets/images/preseguro.svg" alt="Preseguro logo">
                        </a>
                    </div>

                    <h1 class="titulo-principal">Digite sua nova senha</h1>

                    <p class="descricao">
                        Você poderá acessar detalhes sobre as contratações, acessar apólices, promoções e muito mais.
                    </p>

                    <form [formGroup]="form" class="form-login" (ngSubmit)="reset()" method="post" autocomplete="off">

                        <div class="form-group">

                            <label class="field-outlined">
                                <input type="email" placeholder=" " formControlName="email"
                                    (focus)="setCurrentField('email')" (focusout)="setCurrentField(null)"
                                    [ngClass]="{'is-invalid': isInvalidField('email')}" autocomplete="username">
                                <span>Email</span>

                                <ng-container *ngIf="form.get('email').errors">
                                    <div class="invalid-feedback">
                                        {{ error('email') }}
                                    </div>
                                </ng-container>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="field-outlined">
                                <input type="{{ (showPassword)? 'text':'password' }}" placeholder=" " formControlName="password"
                                    (focus)="setCurrentField('password')" (focusout)="setCurrentField(null)"
                                    [ngClass]="{'is-invalid': isInvalidField('password')}" autocomplete="current-password">
                                <span>Senha</span>

                                <div class="eye" (click)="togglePasswordView()">
                                  <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showPassword}"></span>
                                </div>

                                <ng-container *ngIf="form.get('password').errors">
                                    <div class="invalid-feedback">
                                        {{ error('password') }}
                                    </div>
                                </ng-container>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="field-outlined">
                                <input type="{{ (showConfirmationPassword)? 'text':'password' }}" placeholder=" " formControlName="password_confirmation"
                                    (focus)="setCurrentField('password_confirmation')" (focusout)="setCurrentField(null)"
                                    [ngClass]="{'is-invalid': isInvalidField('password_confirmation')}" autocomplete="current-password">
                                <span>Confirme a Senha</span>

                                <div class="eye" (click)="toggleConfirmationPasswordView()">
                                  <span class="icon icon-eye" [ngClass]="{'icon-cutted-eye': showConfirmationPassword}"></span>
                                </div>

                                <ng-container *ngIf="form.get('password_confirmation').errors">
                                    <div class="invalid-feedback">
                                        {{ error('password_confirmation') }}
                                    </div>
                                </ng-container>
                            </label>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-login" type="submit">Salvar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
