$first-color: #303030;

$white: #FFF;
$very-light-grey:#CCCCCC;
$checkout-darker-grey: #505050;
$kelly-green: #1cb41c;
$cinnabar: #e4393c;
$checkout-lighter-grey: #AAAAAA;
$light-grey: #d8d8d8;
$night-rider:#303030;





$default-full-background: #f5f5f5;
