@font-face {
    font-family: 'preseguro icons';
    src: url('../../../src/assets/fonts/preseguro-icons/preseguro-icons.eot');
    src: url('../../../src/assets/fonts/preseguro-icons/preseguro-icons.eot?#iefix') format('embedded-opentype'),
         url('../../../src/assets/fonts/preseguro-icons/preseguro-icons.woff') format('woff'),
         url('../../../src/assets/fonts/preseguro-icons/preseguro-icons.ttf') format('truetype'),
         url('../../../src/assets/fonts/preseguro-icons/preseguro-icons.svg#preseguro-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class*='icon-']:before{
	display: inline-block;
   font-family: 'preseguro icons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrow:before{content:'\0041';}
.icon-404:before{content:'\0042';}
.icon-menu-dots:before{content:'\0043';}
.icon-padlock:before{content:'\0044';}
.icon-check:before{content:'\0045';}
.icon-whatsapp:before{content:'\0046';}
.icon-add:before{content:'\0047';}
.icon-remove:before{content:'\0048';}
.icon-info:before{content:'\0049';}
.icon-whatsapp-full:before{content:'\004a';}
.icon-whatsapp-full.filled{ color: #25d366; }
.icon-eye:before{content:'\e900';}
.icon-cutted-eye:before{content:'\e901';}
.icon-pix:before {content: "\e902";}
.icon-credit-card:before {content: "\e903";}
.icon-twitter-fill:before {
  content: "\e904";
  color: #1da1f2;
}
.icon-facebook-fill:before {
  content: "\e905";
  color: #1777f2;
}

.icon-twitter-flat:before {
  content: "\e906";
}
.icon-instagram-flat:before {
  content: "\e907";
}
.icon-facebook-flat:before {
  content: "\e908";
}
