<div class="checkout-page-structure" *ngIf="show">
  <div class="container-lg">
    <div class="row">
      <div class="col-12">
        <!-- <h1 class="checkout-main-title">Meus pedidos</h1> -->
        <h1 class="checkout-main-title">Meus pedidos</h1>
      </div>
      <div class="col-12 col-md-3">
        <app-menu></app-menu>
      </div>

      <div class="col-12 col-md-9">

        <ng-container *ngFor="let order of orders">

          <div class="box-shadow">

            <app-order-item [order]="order" (continuer)="continue($event)"></app-order-item>

          </div>

        </ng-container>

        <ng-container *ngIf="!(!!orders.length)">
          <div class="box-shadow">
            Você ainda não fez nenhum pedido
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
