<!-- <form [formGroup]="bankTransferForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div>
        <div class="col-md-12 detalhes-forma-pagamento">
            <h4>Pagamento por depósito</h4>
            <p>
                Pague através de depósito com 7% de desconto, a
                transferência
                pode ser feita de qualquer banco.
            </p>
            <div class="aceito">
                <div class="form-group">
                    <div class="checkbox">

                        <input type="checkbox" name="aceito" value="1" checked="checked">

                        <span>Li e aceito as
                            <a href="assets/arquivos/condicoes-gerais.pdf" target="_blank" title="Condições gerais">
                                condições gerais
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="next-step">
                <button class="botao-avancar" type="submit">
                    Finalizar
                </button>
            </div>
        </div>
    </div>
</form> -->