.coverage-title {
  font-size: 18px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 30px;

  span {
    font-size: 16px;
    color: #8c8c8c;
  }
}

table {
  tr:first-child th {
    border-top: 0;
    color: #303030;
    text-align: center;
    font-weight: 600;
    background: #FFF;
  }

  tr {
    font-size: 16px;
    background: #f2f2f2;

    &.compare-2 th {
      width: 50%;
    }

    &.compare-3 th {
      width: 33.3%;
    }

    td {
      text-align: center;
    }
  }

  .coverage-name {
    font-weight: 600;
    color: #303030;
    background: #FFF;
    font-size: 12px;
  }

  td:nth-child(even) {
    // background: #f7f7f7;
  }

  td:nth-child(odd) {
    // background: #fff;
  }
}
