<ng-container *ngIf="quotation && plans && show">
  <div class="checkout-page-structure compare-quotation">
    <div class="container-lg">
      <div class="row">

        <div class="col-md-12">
          <h1 class="checkout-main-title">Selecione o plano</h1>
        </div>

        <div class="col-12">
          <div class="super-tabs d-lg-none">
            <button type="button" class="btn btn-type-link {{ (currentTab === 'plans-tab')? 'selected': '' }}"
              (click)="setCurrentTab('plans-tab')">Planos ({{ quantityPlans }})</button>
            <button type="button" class="btn btn-type-link {{ (currentTab === 'filters-tab')? 'selected': '' }}"
              (click)="setCurrentTab('filters-tab')">Filtros</button>
          </div>
        </div>

        <div class="col-12">
          <div class="row">

            <div class="col-12 col-lg-3 {{ (currentTab === 'filters-tab')? 'tab-d-flex': 'tab-d-none' }}">

              <!-- sidebar -->
              <div class="sidebar">

                <!-- filtros -->
                <app-quotation-filters [insuranceCompanies]="insuranceCompanies" (handleFilter)="handleFilter($event)"
                  (handleSort)="handleSort($event)">
                </app-quotation-filters>

                <!-- filtros -->

                <div class="quotation-details">

                  <div class="item-detail">
                    <div class="item-label">Destino: </div>
                    <div class="item-info">
                      {{ quotation.destination_group_name }}
                    </div>
                  </div>

                  <div class="item-detail">

                    <div class="item-label">Período de viagem: </div>
                    <div class="item-info">
                      {{ quotation.start_date | date: 'dd/MM/yyyy'}} - {{ quotation.end_date | date:'dd/MM/yyyy'}}
                    </div>
                  </div>

                  <div class="item-detail">

                    <div class="item-label">Vigência: </div>
                    <div class="item-info">
                      {{ quotation.days }} dias
                    </div>
                  </div>

                  <div class="action">
                    <button type="button" class="btn-type-link" (click)="openModal('update-quotation')">Alterar</button>
                  </div>
                </div>

                <div class="info-block">
                  <p class="description">
                    Todos os planos são de seguradoras devidamente cadastradas na SUSEP. Garantindo
                    sua total segurança.
                  </p>
                </div>
              </div>
              <!-- sidebar -->

            </div>

            <div class="col-12 col-lg-9 {{ (currentTab === 'plans-tab')? 'tab-d-flex': 'tab-d-none' }}">
              <div class="plan-structure">

                <ng-container *ngIf="!hasPlans">
                  <div class="error-message">
                    Nenhum plano encontrado, por favor revise os filtros.
                  </div>
                </ng-container>

                <ng-container *ngFor="let plan of plans; let i = index">
                  <ng-container *ngIf="plansToShow2[plan.id] !== undefined">

                    <app-quotation-plan [plan]="plan" [images]="images" (showCoverages)="showCoverages($event)"
                      (selectPlan)="selectPlan($event)">
                    </app-quotation-plan>

                  </ng-container>
                </ng-container>

              </div>
            </div>


          </div>
        </div>

        <div class="col-12" *ngIf="comparison.plans.length > 0">
          <app-preview-comparison-plans [comparison]="comparison">
          </app-preview-comparison-plans>
        </div>

      </div>
    </div>
  </div>

  <ng-container *ngIf="showModal === 'coverages'">
    <app-dynamic-modal *ngxLazyEl (ready)="modalReady['modal-coverages']=true" (byClose)="closeModal()"
      [options]="{ size: 'ui-large'}">

      <ng-container *ngIf="modalReady['modal-coverages']">

        <app-coverages [plan]="selectedPlanShowCoverages"></app-coverages>

      </ng-container>
    </app-dynamic-modal>
  </ng-container>

  <ng-container *ngIf="showModal === 'plan-details'">
    <app-dynamic-modal *ngxLazyEl (ready)="modalReady['modal-plan-details']=true" (byClose)="closeModal()"
      [options]="{ size: 'ui-medium'}">

      <ng-container *ngIf="modalReady['modal-plan-details']">

        <app-plan-details [plan]="selectedPlan" (selectPlan)="selectPlan($event, true)" (closeModal)="closeModal()"></app-plan-details>

      </ng-container>
    </app-dynamic-modal>
  </ng-container>

  <ng-container *ngIf="showModal === 'update-quotation'">
    <app-dynamic-modal *ngxLazyEl (ready)="modalReady['modal-update-quotation']=true" (byClose)="closeModal()"
      [options]="{ size: 'ui-small'}">

      <ng-container *ngIf="modalReady['modal-update-quotation']">

        <app-dynamic-quotation-form *ngxLazyEl [quotationInitialData]="quotationInitialData" [buttonText]="'Alterar cotação'" (sendQuotationData)="updateQuotationData($event?.detail)"></app-dynamic-quotation-form>

      </ng-container>
    </app-dynamic-modal>
  </ng-container>

</ng-container>
