.compare-quotation {
  padding: 10px;
  // padding-top: 50px;
  // padding-bottom: 20px;

  // .main-title {
  //     text-transform: none;
  //     padding: 0 0 30px;
  //     text-align: center;
  //     padding-top: 20px;
  //     font-size: 30px;
  //     color: #303030;
  //     letter-spacing: -1px;
  // }

  .sidebar {
    // padding: 0px 7px;
    margin-bottom: 40px;

    .info-block {
      // margin-top: 65px;
      // margin-bottom: 20px;
      padding: 10px 15px;
      // border: 1px solid #ddd;
      box-shadow: 0 0 4px 0 #dbdce5;
      background: #fff;
    }

    .description {
      font-size: 12px;
      color: #8c8c8c;
      margin: 0;
    }
  }

  .checkout-main-title {
    padding-bottom: 15px;
  }

  .plans {
    margin-bottom: 40px;
  }

  .plan {
    padding: 0 10px;
    margin-bottom: 10px;

    .plan-box {
      // border: 1px solid #ddd;
      // border-radius: 2px;
      width: 100%;
      max-width: 170px;
      box-shadow: 0 0 4px 0 #dbdce5;
      background: #fff;
    }

    .insurance-image {
      background: #fff;
      margin: 0 0 15px 0;
      padding: 5px 5px;
      // border-bottom: 1px solid #dbdce5;
      height: 65px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
        max-width: 200px;
      }
    }

    .title {
      font-size: 13px;
      color: #8c8c8c;
      text-align: center;
      padding: 0 5px 0;
      text-transform: uppercase;
      height: 45px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.3;
      margin-bottom: 5px;
      // font-family: "Lato";
    }

    .grupo-valor {
      width: 100%;
      padding: 5px 0 0;

      .valor {
        // font-family: "Lato";
        font-size: 25px;
        color: #777;
        text-align: center;
        // font-weight: bold;
        letter-spacing: -1px;

        span {
          // font-family: "Open Sans";
          font-size: 12px;
          font-weight: bold;
          color: #8c8c8c;
          margin-left: -20px;
        }
      }

      .faixa-idade {
        font-family: "Open Sans";
        font-size: 13px;
        color: #8c8c8c;
        text-align: center;
        padding: 0 10px 5px;
      }
    }

    .call-to-action-section {
      width: 100%;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn-buy {
        max-width: 120px;
        width: 100%;
        padding: 7px 0;
        margin-bottom: 10px;
        font-size: 16px;
        border-radius: 0px;

        // background: #fff;
        // border: 1px solid#02b302;
        // color: #02b302;

        // &.main {
        background: #02b302;
        border: 1px solid#02b302;
        color: #fff;
        // }
      }
    }

    .compare-coverage {
      margin-top: 10px;
      width: 100%;
      font-size: 12px;
      color: #8c8c8c;
      padding-bottom: 10px;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      input[type="checkbox"] {
        cursor: pointer;
      }

      span {
        margin-left: 5px;
      }
    }
  }

  .coberturas {
    // padding: 20px;
    overflow: hidden;

    table {
      border-bottom: 1px solid #ddd;
      box-shadow: 0 0 4px 0 #dbdce5;
      background: #fff;
      color: #303030;

      tbody {
        tr {
          td {
            cursor: pointer;
            font-size: 16px;
            // font-family: "Lato";
            // font-weight: bold;
            // color: #8c8c8c;
            text-align: center;
            min-height: 35px;
            line-height: 35px;

            span {
              display: inline-block;
              vertical-align: middle;
              line-height: normal;
            }

            &:first-of-type {
              font-size: 14px;
              // color: #f47521;
              text-align: left;
            }
          }

          &:hover {
            background: #f7f7f7;
          }

          &:first-of-type {
            td {
              border-top: 0;
            }
          }
        }
      }
    }
  }

  .quotation-details {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 4px 0 #dbdce5;
    background: #fff;

    .item-detail {
      width: 100%;
      margin-bottom: 5px;
    }

    .item-label {
      font-size: 12px;
      color: #8c8c8c;
    }
    .item-info {
      font-weight: 400;
      font-size: 14px;
      color: #303030;
    }

    .action {
      margin-top: 10px;
      width: 100%;
      text-align: right;
      font-size: 12px;
    }
  }
}

.super-tabs {
  // display: none;
}

.plan-structure {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 120px;
}

.error-message {
  font-size: 16px;
  box-shadow: 0 0 4px 0 #dbdce5;
  background: #fff;
  padding: 15px;
}

@media (max-width: 992px) {
  .compare-quotation {
    .main-title {
      padding: 10px;
      font-size: 28px;
    }

    .sidebar {
      // display: none;
      .info-block {
        margin-top: 0;
        padding: 10px;
      }
      .description {
      }
    }

    .plan {
      .insurance-image {
        height: 50px;

        img {
          // height: 40px;
          // width: auto;
        }
      }
    }
  }

  .plan-structure {
    padding-top: 0;
  }

  .super-tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

    .btn-type-link {
      font-size: 14px;
      text-transform: uppercase;
      color: #505050;
      font-weight: 300;
      border-radius: 0;
      padding: 10px 20px;
      width: 50%;
      max-width: 150px;
      text-decoration: none;
      box-shadow: none;
      outline: none;

      &.selected {
        border-bottom: 1px solid #303030;
        font-weight: 600;
      }
    }
  }

  .tab-d-flex {
    display: flex;
  }

  .tab-d-none {
    display: none;
  }
}
