@import "./../../../../../assets/scss/colors.scss";

.main-box {
  // background: $default-full-background;
  background: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-custom {
  padding: 0;

  a {
    position: relative;
    display: block;
  }
}

.image-full {
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.box-title {
  .title {
    // color: $first-color;
    color: #505050;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    text-align: center;
    color: #5f6368;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 40px;
  }
}

.box-overlay {
  margin-bottom: 50px;
}

.overlay {
  transition: all ease-in 0.2s;
  position: absolute;
  padding: 10px 20px;
  max-width: 100%;
  // height: 260px;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98px;

  .title-overlay {
    // margin: 0 !important;
    border-left: 5px solid #37458a;
    padding: 10px 0 10px 15px;
    //   float: left;
    width: 100%;
    h3 {
      color: #fff;
      font-size: 15px;
      // font-weight: 600 !important;
      padding: 0;
      margin-top: 0px;
      margin-bottom: 10px;
      // float: left;
      width: 100%;
    }
    span {
      // float: left;
      width: 100%;
      margin-top: 5px;
      color: #fff;
      // font-weight: 600;
      font-size: 27px;
      line-height: 25px;
      padding: 0;
      text-transform: uppercase;
      display: block;

      small {
        font-size: 13px;
        color: #fff;
        font-weight: 400;
        display: inline-block;
        top: -5px;
        left: 5px;
        position: relative;
      }
    }
  }
  .description {
    //   float: left;
    width: 100%;
    margin-top: 25px;
    padding-left: 15px;
    border-left: 5px solid #37458a !important;
    color: #fff;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .main-box {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .box-title {
    .title {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
