<div class="main-box">
  <div class="container">

    <div class="row box-title">
      <div class="col-12">
        <h2 class="title">Seguro de viagem para o seu destino</h2>
        <p class="description">
          Seguro viagem com diversas coberturas para qualquer tipo de viagem e para qualquer lugar do mundo.
        </p>
      </div>
    </div>

    <div class="row box-overlay">
      <div class="col-12 col-md-4 bg-custom bg-world">
        <a [routerLink]="'/blog/seguro-viagem-mundo'" title="Saiba mais sobre seguro viagem para o mundo">

          <!-- <img src="https://ik.imagekit.io/preseguro/assets/images/banners/mundo.jpg" width="320" height="219" -->
          <img src="https://image.preseguro.com/assets/images/banners/mundo.jpg" width="320" height="219"
            alt="Seguro de viagem para o mundo" class="image-full">

          <div class="overlay">
            <div class="title-overlay">
              <h3>Seguro Viagem <span>Mundo</span></h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4 bg-custom bg-europe">
        <a [routerLink]="'/blog/seguro-viagem-europa'" title="Saiba mais sobre seguro viagem">

          <!-- <img src="https://ik.imagekit.io/preseguro/assets/images/banners/europa.jpg" width="320" height="219" -->
          <img src="https://image.preseguro.com/assets/images/banners/europa.jpg" width="320" height="219"
            alt="Seguro de viagem para a europa" class="image-full">
          <div class="overlay">
            <div class="title-overlay">
              <h3>Seguro Viagem <span>Europa</span></h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4 bg-custom bg-student">
        <a [routerLink]="'/blog/seguro-viagem-estudante-intercambio'" title="Saiba mais sobre seguro viagem">

          <!-- <img src="https://ik.imagekit.io/preseguro/assets/images/banners/mundo-intercambio.jpg" width="320" -->
          <img src="https://image.preseguro.com/assets/images/banners/mundo-intercambio.jpg" width="320"
            height="219" alt="Seguro de viagem para intercâmbio" class="image-full">
          <div class="overlay">
            <div class="title-overlay">
              <h3>Seguro Viagem <span>Estudante</span></h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4 bg-custom bg-latam">
        <a [routerLink]="'/blog/seguro-viagem-america-latina'"  title="Saiba mais sobre seguro viagem">

          <!-- <img src="https://ik.imagekit.io/preseguro/assets/images/banners/america-latina.jpg" width="320" height="219" -->
          <img src="https://image.preseguro.com/assets/images/banners/america-latina.jpg" width="320" height="219"
            alt="Seguro de viagem para américa latina" class="image-full">
          <div class="overlay">
            <div class="title-overlay">
              <h3>Seguro Viagem <span>América Latina</span></h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4 bg-custom bg-national">
        <a [routerLink]="'/blog/seguro-viagem-brasil'" title="Saiba mais sobre seguro viagem">

          <!-- <img src="https://ik.imagekit.io/preseguro/assets/images/banners/brasil.jpg" width="320" height="219" -->
          <img src="https://image.preseguro.com/assets/images/banners/brasil.jpg" width="320" height="219"
            alt="Seguro de viagem para o brasil" class="image-full">
          <div class="overlay">
            <div class="title-overlay">
              <h3>Seguro Viagem <span>Brasil</span></h3>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
