.load-box {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    background-color: rgba(#333333, 0.2);
    top: 0;
}

.loading {
    margin: 30% auto 0;
    width: 87px;
}

.lds-facebook {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    // background: #f47521;
    background: #505050;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    // background: #f47521;
    background: #505050;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    // background: #37458a;
    background: #505050;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    // background: #f47521;
    background: #505050;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
