.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .description {
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px;

    .icon-box {
      margin-right: 15px;

      .icon-info {
        font-size: 27px;
        color: #505050;
      }
    }

    .text {
      font-size: 16px;
      color: #303030;
      a {
        text-decoration: none;
        font-size: 16px;
        color: #303030;
      }
    }

    &.buttons {
      display: flex;
      flex-direction: column;

      .btn-success {
        display: inline;
        padding: 10px 10px;
        font-size: 15px;
        color: #fff;
        background: #37458a;
        border: 1px solid #37458a;
        max-width: 450px;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        width: 100%;
        max-width: 250px;
        margin-bottom: 30px;
      }

      .btn-type-link {
        color: #505050;
      }
    }
  }
}
