<div class="content">
  <div class="title">
    <strong>Importante!</strong>
  </div>
  <div class="description">
    <div class="icon-box">
      <span class="icon icon-info"></span>
    </div>
    <div class="text">
      Leia abaixo as observações feitas pela seguradora e
      confirme para avançar.
    </div>
  </div>
  <div class="description">
    <div class="text">
      {{ plan.details }}
    </div>
  </div>

  <div class="description buttons">
    <button type="button" class="btn btn-success" (click)="onSelectPlan()">Ok, Avançar</button>
    <button type="button" class="btn btn-type-link" (click)="onCloseModal()">Selecionar outro plano</button>
  </div>
</div>
