<div class="order-item" *ngIf="!!order">
  <div class="item-content">

    <!-- <div class="order-details"> -->
      <div class="image-insurance-company">
        <img src="{{ order.insurance_company.image }}" width="120" alt="{{ order.insurance_company.name }}">
      </div>

      <div class="destiny-information">
        {{ order.quotation.destination_group_name }} <br>
        {{ order.quotation.start_date | date: 'dd/MM/yyyy'}} -
        {{ order.quotation.end_date | date:'dd/MM/yyyy'}}

        <div class="plan-name">
          {{ order.plan.name }}
        </div>
      </div>

      <div class="order-status" [ngClass]="{
        'text-success': order.status === status['Approved'],
        'text-danger': (order.status === status['NotApproved'] || order.status === status['Canceled'])
      }">
        <strong>{{ order.status_name }}</strong>
      </div>

    <!-- </div> -->

    <div class="item-action">

      <div class="order-value" *ngIf="order.passengers.length > 0">
        <span>Total R$</span> {{ order.total | currency:'BRL':'' }}
      </div>

      <a [routerLink]="['/pedido/continue/', order.id]" class="btn btn-success" (click)="onContinue(order)"
        *ngIf="order.status === status['NotFinished'] || order.status === status['Pendent'] || order.status === status['NotApproved']">
        Continuar
      </a>

    </div>

  </div>

  <div class="order-menu-options">

    <button type="button" class="btn btn-type-link" [disabled]="(order.passengers.length === 0)"
      (click)="toggleShowPassengers()">

      <ng-container>
        Consultar Passageiro(s)
      </ng-container>

    </button>

  </div>

  <ng-container *ngIf="showPassengers">
    <div class="order-passengers">

      <ng-container *ngFor="let passenger of order.passengers">

        <div class="order-passenger">
          <div class="personal-data">
            Nome: {{ passenger.name }} <br>
            Documento: {{ passenger.document }} <br>
            Data de nascimento: {{ passenger.birthday | date: 'dd/MM/yyyy' }} <br>
            Sexo: {{ passenger.gender }}
          </div>
          <div class="policy-action">

            <ng-container *ngIf="!!passenger.policy">
              <a href="{{ passenger.policy.link }}" target="_blank" title="Download da apólice">
                Acessar apólice
              </a>
            </ng-container>

            <ng-container *ngIf="!passenger.policy">
              Apólice indisponível
            </ng-container>

          </div>
        </div>
      </ng-container>

    </div>
  </ng-container>

</div>
