.order-item {
  .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #303030;
    min-height: 80px;
    flex-wrap: wrap;

    // .order-details {
    //   display: flex;
    //   align-items: center;
    .image-insurance-company {
    }

    .destiny-information {
      font-size: 13px;
      // width: 100%;
      margin-bottom: 5px;
      padding: 10px 20px;

      .plan-name {
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        max-width: 200px;
      }
    }

    .order-status {
      font-size: 13px;
      white-space: nowrap;
    }
    // }

    .item-action {
      width: 160px;
      font-size: 12px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .order-value {
        font-size: 15px;
        font-weight: bold;
        // color: #02b302;
        color: #505050;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;

        span {
          font-size: 12px;
          color: #303030;
          font-weight: 400;
        }
      }

      .btn {
        margin-top: 5px;
        width: 100%;
        font-size: 12px;
        text-decoration: none;
      }

      .btn-success {
        max-width: 120px;
        width: 100%;
        padding: 7px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 0px;
        background: #37458a;
        border: 1px solid #37458a;
        color: #fff;
      }
    }
  }

  .order-menu-options {
    width: 100%;
    font-size: 13px;
    // border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;

    .btn-type-link {
      font-size: 13px;
      border-left: 1px solid #ddd;
      color: #007bff;
      padding: 0 20px 0 20px;
      text-decoration: none;
      box-shadow: none;

      &:hover {
        text-decoration: underline;
      }

      &:first-of-type {
        border-left-color: #fff;
      }

      &:disabled {
        color: #303030;
        text-decoration: none;
      }
    }
  }

  .order-passengers {
    border-top: 1px solid #ddd;
    padding: 10px 10px 10px;
    font-size: 13px;

    .order-passenger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #ddd;

      &:first-of-type {
        border-top-color: #fff;
      }
    }
  }
}

@media (max-width: 992px) {
  .order-item {
    .item-content {
      justify-content: space-around;

      .image-insurance-company,
      .destiny-information,
      .order-status,
      .item-action {
        width: 50%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 400px) {
  .order-item {
    .item-content {
      justify-content: center;
      padding: 20px 10px;

      .image-insurance-company,
      .destiny-information,
      .order-status,
      .item-action {
        width: 100%;
        text-align: center;
      }
    }
  }
}
