<!-- let-c="close" let-d="dismiss" -->
<div id="modal-global">
    <ng-template #modal>
        <div class="modal-header">
            <button class="close-button" aria-label="Close" (click)="toClose()">×</button>
        </div>
        <div class="modal-body">
            <ng-content></ng-content>
        </div>
    </ng-template>
</div>
