::ng-deep .modal-dialog {
  .modal-content {
    border: 0;
    border-radius: 3px;

    .modal-header {
      padding: 0;
      border: none;

      .close-button {
        color: #ccc;
        font-size: 38px;
        font-weight: 100;
        line-height: 25px;
        position: absolute;
        top: 30px;
        right: 32px;
        width: 25px;
        height: 25px;
        padding: 0;
        z-index: 1;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .modal-body {
    padding: 70px 50px 60px;
  }

  &[class*='modal-ui'] {
    padding: 0 50px;

    .modal-content {
      align-items: center;
      flex-direction: row;
    }
  }

  &.modal-ui-small {
    max-width: 550px;

    .modal-content {
      min-height: 340px;
    }
  }

  &.modal-ui-medium {
    max-width: 840px;

    .modal-content {
      min-height: 560px;
      top: 30px;
    }
  }

  &.modal-ui-large {
    max-width: 1100px;

    .modal-content {
      min-height: 640px;
      top: 50px;
    }
  }
}

@media (max-width: 1400px) {

  ::ng-deep .modal-dialog {

    .modal-content {
        border: 0;
        // border-radius: 0;
    }

    &.modal-ui-large {
        max-width: 1100px;

        .modal-content {
          min-height: 540px;
          top: 0px;
        }
    }
}

}


@media (max-width: 575px) {
  ::ng-deep .modal-dialog {
    .modal-content {
      .modal-header {

        .close-button {
          top: 10px;
          right: 12px;
        }
      }

      .modal-body {
        padding: 30px 15px;
      }
    }

    &[class*='modal-ui'] {
      align-items: flex-end;
      min-height: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0;

      .modal-content {
        flex-direction: column;
        min-height: auto;
        margin: 60px 0 0 0;
        border-radius: 8px 8px 0 0;

        .modal-body {
          width: 100%;
          padding: 50px 15px 25px 15px;
        }
      }
    }
  }
}
