<app-dynamic-message *ngxLazyEl></app-dynamic-message>

<section id="pagina-area-segurado">
    <div class="container">
        <div class="row">

            <div class="centralize">
                <div class="area-segurado-bloco-login">
                    <div class="imagem-logo">
                        <a [routerLink]="'/'" title="Home">
                            <img src="/assets/images/preseguro.svg" alt="Preseguro logo">
                        </a>
                    </div>

                    <h1 class="titulo-principal">Recupere sua senha <br> por email</h1>

                    <p class="descricao">
                        Enviaremos por email as instruções para alteração de senha.
                    </p>

                    <form [formGroup]="form" class="form-login" (ngSubmit)="recovery()" method="post" autocomplete="off">

                        <div class="form-group">

                            <label class="field-outlined">
                                <input type="email" placeholder=" " formControlName="email"
                                    (focus)="setCurrentField('email')" (focusout)="setCurrentField(null)"
                                    [ngClass]="{'is-invalid': isInvalidField('email')}" autocomplete="username">
                                <span>Email</span>

                                <ng-container *ngIf="form.get('email').errors">
                                    <div class="invalid-feedback">
                                        {{ error('email') }}
                                    </div>
                                </ng-container>
                            </label>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-login" type="submit">Enviar</button>
                        </div>

                        <div class="form-group">
                          <a [routerLink]="'/login'" title="Login" class="go-to-login">
                            Lembrei minha senha
                          </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
