@use "sass:math";

/* posts content */
.posts-content {
  min-height: calc(100vh - 438px);
  background: #f5f5f5;
  padding: 10px;

  .checkout-main-title span {
    margin-top: 10px;
    width: 100%;
    display: block;
  }
}

.posts-content .post {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: flex-start;
  align-content: flex-start;
}

.posts-content .post .thumbnail {
  padding: 10px;
  max-width: 300px;
  width: 100%;
}

.posts-content .post .thumbnail img {
  width: 100%;
  max-width: 300px;
}

.posts-content .post .content {
  padding: 10px;
}

.posts-content .post .content .category-name {
  font-style: italic;
  background: #303030;
  /* background: #f47521; */
  display: inline-block;
  padding: 0px 7px;
  color: #fff;
  margin-bottom: 5px;
}

.posts-content .post .content .category-name a {
  color: #fff;
  text-decoration: none;
}

.posts-content .post .content .title {
  font-size: 25px;
  line-height: 30px;
}

.posts-content .post .content .title:after {
  content: "";
  display: block;
  width: 35px;
  border-bottom: 3px solid #f47521;
  margin-top: 5px;
}

.posts-content .post .content .title a {
  color: #303030;
}

.posts-content .post .content .excerpt {
  color: #303030;
  font-size: 14px;
}
/* posts content */

.post-item {
  a {
    text-decoration: unset;
    color: unset;
  }

  .card {
    width: 100%;
  }

  .card-title {
  }
}

.card {
  max-width: 300px;
  margin: 10px auto 20px;

  a {
    color: unset;
  }
}

.title-description {
  font-size: 16px;
  color: #303030;
  width: 100%;
  margin-bottom: 20px;
  min-height: 50px;
}

.post-items {
  max-height: 479px;
  overflow: hidden;

  &:before {
    padding-top: math.div(460, 230) * 100%;
  }

  .wrapper-image {
    background: #ddd;

    &:before {
      padding-top: math.div(2, 3) * 100%;
    }

    .inner {
      overflow: hidden;
    }

    .card-image {
      width: 100%;

      &[src=""] {
        opacity: 0;
      }
    }
  }

  .default-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
      filter: brightness(0.6);
    }
  }

  .card-body {
  }

  .card-title {
    height: 84px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    font-size: 20px;

    a {
      color: unset;
    }
  }

  .card-text {
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-link {
    text-decoration: underline;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.sidebar-block {
  box-shadow: 0 0 4px 0 #dbdce5;
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;

  .sidebar-title {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px 0;
    margin-bottom: 0;
  }

  .sidebar-description {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px 10px;
    margin-bottom: 0;
  }
}

.footer {
  min-height: 100px;
}

@media (max-width: 767px) {
  /* posts content */

  .posts-content {
    min-height: 100vh;
  }

  .posts-content .post {
    flex-wrap: wrap;
  }

  .card {
    // max-width: unset;
  }

  .title-description {
    min-height: 150px;
  }

  /* posts content */
}
