<div class="posts-content checkout-page-structure">
  <div class="container-lg">
    <div class="row">
      <div class="col-12 col-md-12">

        <h1 class="checkout-main-title text-center">Blog Preseguro: <br><span>O guia definitivo de Seguro de Viagem e
            Turismo</span></h1>
        <div class="title-description">
          Nossa missão é ajudar os viajantes a escolher o plano de seguro viagem ideal para suas viagens.
          Criamos conteúdos de qualidade e cobrimos tudo, desde dicas de escolha de planos até comparações de preços e
          coberturas.
        </div>

        <ng-container *ngIf="show">

          <ng-container *ngIf="posts.length > 0">

            <div class="row">
              <div class="col-12 col-md-8">
                <div class="row">
                  <ng-container *ngFor="let post of posts; let i = index">

                    <div class="col-12 col-sm-6 col-md-6 justify-content-center">

                      <div class="card">
                        <a [routerLink]="['/blog/', (post.slug) ]" title="{{ post.title }}">
                          <div class="wrapper-aspect-ratio post-items">
                            <div class="inner">

                              <div class="wrapper-aspect-ratio wrapper-image">
                                <div class="inner">

                                  <ng-container *ngIf="!post.thumbnail">
                                    <div class="default-image">

                                      <img src="/assets/images/preseguro.svg" alt="Preseguro" width="204" height="47">

                                    </div>
                                  </ng-container>

                                  <ng-container *ngIf="post.thumbnail">

                                    <img *ngIf="i === 0" class="card-image" src="{{ firstImage }}"
                                      alt="{{ post.title }}" width="300" height="200">

                                    <img *ngIf="i > 0" class="card-image" src="{{ post.thumbnail }}"
                                      alt="{{ post.title }}" width="300" height="200">
                                  </ng-container>
                                </div>
                              </div>

                              <div class="card-body">
                                <h2 class="card-title">
                                  {{ post.title }}
                                </h2>

                                <div class="categories">
                                  <ng-container *ngFor="let category of post.categories">
                                    <span class="badge badge-dark">
                                      {{ category.name }}
                                    </span>
                                  </ng-container>
                                </div>

                                <p class="card-text">{{ post.description }}</p>

                                <div class="card-link">Acesse</div>
                              </div>

                            </div>
                          </div>
                        </a>
                      </div>

                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-12 col-md-4">

                <div class="sticky sidebar-block">
                  <h3 class="sidebar-title">
                    Faça sua cotação
                  </h3>
                  <p class="sidebar-description">
                    Compare e escolha seu plano entre diversas seguradoras.
                  </p>
                  <app-dynamic-quotation-section *ngxLazyEl></app-dynamic-quotation-section>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12 mt-4 mb-4">
                <app-pagination [url]="'/blog'" [totalPages]="totalPages" [currentPage]="currentPage"></app-pagination>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="posts.length === 0">
            Nenhum post encontrado
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<div class="footer">
  <ng-container *ngIf="show">
    <div (deferLoad)="deferLazyLoad['footer'] = true">
      <ng-container *ngIf="isBot || deferLazyLoad['footer']">
        <app-dynamic-footer *ngxLazyEl></app-dynamic-footer>
      </ng-container>
    </div>
  </ng-container>
</div>
