<div class="first-part">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-12 d-flex justify-content-center">
        <div class="presentation-block">
          <div class="title">
            Compare e encontre seu
            <h1 class="main-title">Seguro Viagem</h1>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-12">
        <div class="quotation-block">
          <!-- <app-dynamic-quotation-section *ngxLazyEl></app-dynamic-quotation-section> -->
          <app-quotation-section></app-quotation-section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lazy-home" (deferLoad)="deferLazyLoad['app-lazy-home'] = true">
  <ng-container *ngIf="isBot || deferLazyLoad['app-lazy-home']">
    <app-lazy-home *ngxLazyEl></app-lazy-home>
  </ng-container>
</div>

<div class="footer">
  <div (deferLoad)="deferLazyLoad['footer'] = true">
    <ng-container *ngIf="isBot || deferLazyLoad['footer']">
      <app-dynamic-footer *ngxLazyEl></app-dynamic-footer>
    </ng-container>
  </div>
</div>
