@import "./../../../assets/scss/colors.scss";

.first-part {
  min-height: 100vh;
  width: 100%;
  display: flex;
  // justify-content: center;
  // align-items: center;
}


.presentation-block {
  display: flex;
  height: 100%;
  margin-top: 80px;
  // flex-direction: column;

  .title {
    max-width: 400px;
    width: 100%;
    color: #505050;
    font-size: 27px;
    margin-bottom: 50px;
    text-align: center;

    h1.main-title {
      width: 100%;
      letter-spacing: -1px;
      font-size: 50px;
      display: block;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}

.quotation-block {
  width: 100%;
  min-height: 240px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.lazy-home{
  min-height: 100px;
}

.footer {
  min-height: 100px;
}

@media (max-width: 767px) {
  .first-part {
    min-height: 90vh;
    width: 100%;
  }

  .presentation-block {
    height: 115px;
    padding-top: unset;

    .title {
      line-height: 35px;
      margin-bottom: 40px;
      margin-bottom: 40px;
      font-size: 20px;

      h1.main-title {
        font-size: 35px;
        white-space: inherit;
      }
    }
  }
}
