.checkout-page-structure {
  padding: 10px;
}

.titulo-principal {
  font-family: "Open Sans";
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #f47521;
  text-align: center;
  line-height: 35px;
}

.bloco-finalizacao {
  p {
    font-size: 16px;
    color: #303030;
  }
}

.description {
  font-size: 15px;
}

.box-shadow {
  width: 100%;
  padding: 15px 20px 10px;
  border: 1px solid #dbdce5;
  margin-bottom: 20px;
  background: #fff;
}

.checkout-page-structure {
  padding-bottom: 30px;
}

.checkout-main-title {
  text-align: left;
}

.desc {
  font-size: 16px;
  color: #303030;
  padding: 5px;
}

.qrcode-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .qrcode {
  }

  .pix-code {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;

    .key {
      word-break: break-word;
      font-size: 12px;
    }
    .action {
      .btn-copy-key {
        margin-top: 10px;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }

  .instructions {
    font-size: 12px;
  }
}

.box-content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .item-box {
    margin-left: 5px;
    margin-right: 5px;

    .item-label {
      font-size: 12px;
      // font-weight: 600;
      margin-bottom: 5px;
      // text-align: center;
      // font-weight: bold;
      color: #8c8c8c;
    }
    .item-content {
      font-weight: 600;
      font-size: 14px;
      color: #303030;
      // text-align: center;
      margin-bottom: 10px;
    }
  }
}

.reminder {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  width: 100%;
  font-size: 14px;
}

@media (max-width: 767px) {
  .qrcode-box {
    flex-direction: column;

    .qrcode {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .pix-code {
      padding: 15px 0;
      .action {
        text-align: center;
      }
     }
  }
}
