<div class="checkout-page-structure">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="checkout-main-title">Pedido realizado com sucesso!</h1>
      </div>

      <div class="col-md-8 col-12">

        <p class="desc">
          Para finalizar sua contratação, copie a chave Pix ou escaneie o QR Code abaixo e pague através do site ou app
          do seu banco. <br/><br/> A data limite para pagamento via Pix é
          <strong>{{ paymentData.pix.date_of_expiration | date: 'dd/MM/yyyy H:mm:ss'}}</strong>.
        </p>

        <p class="desc">
          Após o pagamento, você receberá por e-mail a confirmação da contratação do seu seguro.
        </p>

        <p class="desc">
          Suas apólices depois de emitidas, serão enviadas por e-mail e poderão ser consultadas através do painel do segurado.
        </p>

        <div class="box-shadow">
          <div class="qrcode-box">
            <div class="qrcode">
              <img width='150' [src]="'data:image/jpeg;base64,' + paymentData.pix.qr_code_base64">
            </div>
            <div class="pix-code">
              <div class="key">
                {{ paymentData.pix.qr_code }}
              </div>
              <div class="action">
                <button class="btn btn-type-link btn-copy-key" type="button" (click)="copy(paymentData.pix.qr_code)">
                  Copiar chave
                </button>
              </div>
            </div>
            <div class="instructions">
              1- Abra o site ou app do seu banco e selecione a opção pagar com Pix.
              <br />
              <br />
              2- Após o pagamento, você receberá por e-mail a confirmação da contratação do seguro.
            </div>
          </div>
          <div class="reminder">
            <strong>Data limite para pagamento:</strong>
            {{ paymentData.pix.date_of_expiration | date: 'dd/MM/yyyy H:mm:ss'}}
          </div>
        </div>
        <div class="box-shadow">
          <div class="box-content">
            <div class="item-box">
              <div class="item-label">
                Nº Pedido:
              </div>
              <div class="item-content">
                {{ order.number }}
              </div>
            </div>

            <div class="item-box">
              <div class="item-label">
                Forma de pagamento
              </div>
              <div class="item-content">
                {{ order.transaction.payment_method_name }}
              </div>
            </div>


            <div class="item-box">
              <div class="item-label">
                Total
              </div>
              <div class="item-content text-success">
                R$ {{ order.total | currency:'BRL':'' }}
              </div>
            </div>

            <div class="item-box">
              <div class="item-label">
                Situação
              </div>
              <div class="item-content text-warning">
                {{ order.status_name }}
              </div>
            </div>

          </div>
          <div class="reminder">
            ** Fique atento a data limite para pagamento e não perca os valores do seu pedido.
          </div>
        </div>

        <p class="desc">
          <strong>Atenção:</strong>
          <br />
          A emissão de apólice está vinculada a confirmação do pagamento, caso o pagamento não ocorra dentro da data
          limite a contratação será cancelada.
        </p>
      </div>

      <ng-container *ngIf="order">
        <div class="col-md-4 col-12">
          <app-summary [order]="order" [step]="10"></app-summary>
        </div>
      </ng-container>

    </div>
  </div>
</div>
