@import "./assets/scss/fonts.scss";
@import "./assets/scss/colors.scss";
// @import "./app/shared/main-header/main-header.component.scss";

// @import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
  font-family: "Open Sans", Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding-top: 67px;

  &.modal-open {
    height: 100vh !important;
    overflow: hidden !important;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.grecaptcha-badge {
  display: none !important;
  visibility: hidden;
}

.btn-type-link {
  background: 0 0;
  outline: 0;
  border: none;
  // text-decoration: underline;
  color: #007bff;
  // font-size: 14px;
  margin-top: -2px;
  box-shadow: none;
  padding: 0;
  margin: 0;

  &:hover {
    color: #007bff;
    text-decoration: underline;
  }
}

.ngb-dp-body {
  width: 91%;
  max-width: 300px;
  top: -3px;

  .ngb-dp-month {
    width: 100%;
  }

  .ngb-dp-week {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

.title-super {
  text-transform: none;
  font-size: 25px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #f47521;

  &:after {
    content: "";
    display: block;
    width: 35px;
    border-bottom: 2px solid #f47521;
    margin-top: 20px;
  }
}

.page-structure {
  background: $default-full-background;
  padding: 50px 0 10px;
  min-height: calc(100vh - 73px);
}

.box-shadow {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #dbdce5;
  margin-bottom: 20px;
  background: #fff;
}

.checkout-page-structure {
  background: $default-full-background;
  // padding: 50px 0 10px;
  min-height: calc(100vh - 73px);

  .btn-back-checkout {
    padding: 10px 10px;
    font-size: 15px;
    color: #303030;
    width: 40px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    // position: absolute;
    // z-index: 2;
  }

  .checkout-main-title {
    text-transform: none;
    padding: 40px 10px 40px;
    text-align: center;
    text-align: left;
    font-size: 30px;
    color: #303030;
    // letter-spacing: -1px;
  }
}

@media (max-width: 767px) {
  body{
    // padding-bottom: 60px;
  }

  .checkout-page-structure {
    .checkout-main-title {
      padding: 20px 10px 20px;
      font-size: 24px;
      // margin-top: 15px;
      // margin-bottom: 15px;
    }
  }
}

.skeleton-box, .skeleton-box-empty:empty {
  width: var(--skeleton-width,100px);
  min-height: var(--skeleton-height, 100px);
  background-color: #eee;
  background-image: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0) 100%);
  background-size: 95% 100%;
  background-repeat: no-repeat;
  background-position: -2500% 0;
  animation: bg-skeleton-box 2s linear infinite
}

@keyframes bg-skeleton-box {
  to {
      background-position: 2500% 0
  }
}

.wrapper-aspect-ratio {
  position: relative;
  width: 100%;

  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}


.modal-open .modal {
  overflow-x: hidden !important;
  // overflow-y: hidden !important;
}

@media only screen and (max-width: 767px) {
  .modal-open .modal {
    overflow-y: auto !important;
  }
}

// modal start
$modalLayer: 2040;

.modal {
  z-index: $modalLayer !important;
}

.modal-content {
  width: 100%;
}

// modal end


// RESET NEW BOOTSTRAP 5
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    // max-width: 1320px;
    max-width: 1140px;
  }
}
