.box-whatsapp-attach {
  display: none;
}

@media (max-width: 767px) {
  .box-whatsapp-attach {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 201;
    background-color: #fff;
    height: 60px;

    .box-whatsapp {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      border-top: 1px solid #ddd;
      color: #505050;
      text-decoration: none;
    }

    .text {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;

      span {
        font-weight: 600;
      }
    }

    .icon-button {
      width: 50px;
      height: 50px;

      span {
        font-size: 35px;
        color: #25d366;
        width: 35px;
        height: 47px;
      }
    }
  }
}
