<div class="box-whatsapp-attach">
  <a class="box-whatsapp" href="https://api.whatsapp.com/send?phone=55{{ whatsappPhoneOnlyNumbers }}" target="_blank"
    rel="noopener noreferrer">
    <div class="text">
      Atendimento por <span class="featured">WhatsApp</span>
    </div>

    <div class="icon-button">
      <span class="icon icon-whatsapp-full"></span>
    </div>
  </a>
</div>
