
.pagination {
  .page-link {
    outline: none;
    color: #505050;
    box-shadow: none;
  }

  .page-item {
    &.active {
      .page-link {
        background: #0c1853;
        border-color: #0c1853;
        color: #fff;
      }
    }
  }
}
