<nav class="d-flex" aria-label="...">
  <ul class="pagination">

    <li class="page-item" [ngClass]="{ 'disabled': (currentPage - 1) === 0 }">
      <a class="page-link" [routerLink]="[url]" [queryParams]="{ paged: ((currentPage - 1) === 1 ? null: (currentPage - 1)) }"
        tabindex="-1" title="Página Anterior">Anterior</a>
    </li>

    <li class="page-item active">
      <a class="page-link" [routerLink]="[url]" [queryParams]="{ paged: (currentPage) }">
        {{ currentPage }}
      </a>
    </li>

    <li class="page-item" [ngClass]="{ 'disabled': (currentPage + 1) > totalPages }">
      <a class="page-link" [routerLink]="[url]" [queryParams]="{ paged: (currentPage + 1) }"
        title="Próxima página">Próxima</a>
    </li>

  </ul>
</nav>
