<div class="checkout-page-structure" *ngIf="show">
  <div class="container-lg">
    <div class="row">
      <div class="col-12">
        <h1 class="checkout-main-title">Meus dados</h1>
      </div>
      <div class="col-12 col-md-3">
        <app-menu></app-menu>
      </div>

      <div class="col-12 col-md-9">

        <div class="box-shadow">


          <form [formGroup]="form" (ngSubmit)="save()" method="post" autocomplete="off">

            <div class="row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" placeholder=" " formControlName="name" (focus)="setCurrentField('name')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid' : isInvalidField('name') }">
                    <span>Nome completo</span>

                    <div class="invalid-feedback" *ngIf="form.get('name').errors">
                      {{ error('name') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="tel" placeholder=" " formControlName="phone" (focus)="setCurrentField('phone')"
                      (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid' : isInvalidField('phone')}"
                      (input)="mask('phone')">
                    <span>Telefone</span>

                    <div class="invalid-feedback" *ngIf="form.get('phone').errors">
                      {{ error('phone') }}
                    </div>
                  </label>
                </div>
              </div>


              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" placeholder=" " formControlName="document" (focus)="setCurrentField('document')"
                      disabled (focusout)="setCurrentField(null)"
                      [ngClass]="{'is-invalid' : isInvalidField('document') }">
                    <span>CPF</span>
                    <div class="invalid-feedback" *ngIf="form.get('document').errors">
                      {{ error('document') }}
                    </div>
                  </label>
                </div>
              </div>



              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" placeholder=" " formControlName="email" (focus)="setCurrentField('email')"
                      [readonly]="true" (focusout)="setCurrentField(null)" [ngClass]="{'is-invalid' : isInvalidField('email') }">
                    <span>Email</span>
                    <div class="invalid-feedback" *ngIf="form.get('email').errors">
                      {{ error('email') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <hr>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="field-outlined field-cep">
                    <input type="tel" id="zipcode" placeholder=" " formControlName="zipcode" (input)="mask('zipcode')"
                      maxlength="9" (focus)="setCurrentField('zipcode')" (focusout)="setCurrentField(null)"
                      (input)="findByZipcode($event)" [ngClass]="{'is-invalid' : (isInvalidField('zipcode'))}">
                    <span>CEP</span>

                    <div class="invalid-feedback" *ngIf="form.get('zipcode').errors">
                      {{ error('zipcode') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" id="street" placeholder=" " formControlName="street"
                      (focus)="setCurrentField('street')" (focusout)="setCurrentField(null)" [ngClass]="{
                          'is-invalid' : isInvalidField('street')
                      }">
                    <span>Endereço</span>

                    <div class="invalid-feedback" *ngIf="form.get('street').errors">
                      {{ error('street') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined field-number">
                    <input type="text" id="number" placeholder=" " formControlName="number" maxlength="6"
                      (focus)="setCurrentField('number')" (focusout)="setCurrentField(null)"
                      [readonly]="(form.get('number').value === 'SN')" [ngClass]="{
                          'is-invalid' : isInvalidField('number')
                      }">
                    <span>Número</span>

                    <div class="invalid-feedback" *ngIf="form.get('number').errors">
                      {{ error('number') }}
                    </div>
                  </label>
                </div>
              </div>


              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" id="complement" placeholder=" " formControlName="complement" maxlength="20"
                      (focus)="setCurrentField('complement')" (focusout)="setCurrentField(null)" [ngClass]="{
                          'is-invalid' : isInvalidField('complement')
                      }">
                    <span>Complemento</span>

                    <div class="invalid-feedback" *ngIf="form.get('complement').errors">
                      {{ error('complement') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" id="district" placeholder=" " formControlName="district"
                      (focus)="setCurrentField('district')" (focusout)="setCurrentField(null)" [ngClass]="{
                          'is-invalid' : isInvalidField('district')
                      }">
                    <span>Bairro</span>

                    <div class="invalid-feedback" *ngIf="form.get('district').errors">
                      {{ error('district') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined">
                    <input type="text" id="city" placeholder=" " formControlName="city"
                      (focus)="setCurrentField('city')" (focusout)="setCurrentField(null)" [ngClass]="{
                          'is-invalid' : isInvalidField('city')
                      }">
                    <span>Cidade</span>

                    <div class="invalid-feedback" *ngIf="form.get('city').errors">
                      {{ error('city') }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label class="field-outlined select-outlined">
                    <select formControlName="state" required (focus)="setCurrentField('state')"
                      (focusout)="setCurrentField(null)" [ngClass]="{
                          'is-invalid' : isInvalidField('state')
                      }">
                      <option value="" disabled hidden selected></option>
                      <option *ngFor="let state of states" [value]="state.code">
                        {{ state.name }}
                      </option>
                    </select>
                    <span>Estado</span>
                    <i aria-hidden="true" class="select-arrow"></i>
                    <div class="invalid-feedback" *ngIf="form.get('state').errors">
                      {{ error('state') }}
                    </div>
                  </label>
                </div>
              </div>

            </div>

            <div class="actions">
              <button type="submit" class="btn btn-success">Salvar</button>
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
</div>
