<div class="checkout-page-structure">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="checkout-main-title">Pedido não aprovado</h1>
      </div>

      <div class="col-12 col-md-9">
        <div class="box-shadow">
          <p class="description">
            Infelizmente seu pedido não foi autorizado pelo seu cartão.
            <br>
            Entre em contato com seu banco para verificar o ocorrido.
            <br>
            <br>

            <a [routerLink]="['/pedido/continue/', order.id ]">Clique aqui</a> para tentar um outro cartão ou
            forma de pagamento.

            <br>
            <br>
            Caso precise do suporte de um especialista para efetivar a compra, entre em contato com nosso atendimento.
          </p>

          <p class="description">
            <strong>Atenção</strong>:<br />
            A emissão da apólice está vinculada a confirmação do pagamento.
            <br>
            Enviaremos um email com o link de retentativa caso queira tentar mais tarde.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <app-summary [order]="order" [step]="10"></app-summary>
      </div>
    </div>
  </div>
</div>
