.checkout-page-structure {
  padding: 10px;
}

.description {
  font-size: 15px;
}

.box-shadow {
  width: 100%;
  padding: 25px 25px;
  border: 1px solid #dbdce5;
  margin-bottom: 20px;
  background: #fff;
}
