<div class="nav-block fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light navbar-default pl-0 pr-0 justify-content-sm-between">
      <a class="navbar-brand" [routerLink]="'/'" title="Preseguro">
        <img src="/assets/images/preseguro.svg" alt="Preseguro" width="170" height="52">
      </a>

      <ng-container *ngIf="isOrderFlow !== undefined && !isOrderFlow">

        <button class="navbar-toggler" type="button" (click)="setNavbarCollapsed(!isNavbarCollapsed)"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Nossa missão</a>
                    </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="'/blog/como-comprar-seguro-viagem'">Como comprar?</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/blog'" title="Blog" (click)="setNavbarCollapsed(true)">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/blog/faq'" title="Perguntas frequentes" (click)="setNavbarCollapsed(true)">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/login'" title="Painel do segurado" (click)="setNavbarCollapsed(true)">Painel do segurado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-whatsapp"
                href="https://api.whatsapp.com/send?phone=55{{ whatsappPhoneOnlyNumbers }}" target="_blank"
                rel="noopener noreferrer" title="Contato por WhatsApp">
                <span class="icon icon-whatsapp-full"></span>
                {{ whatsappPhone }}
              </a>
            </li>

          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="isOrderFlow !== undefined && isOrderFlow">
        <div class="secure-environment ml-auto">
          <span class="icon icon-padlock"></span>
          <div class="text">
            <span>Ambiente</span>
            <span><strong>Seguro</strong></span>
            <!-- <span class="ssl">https</span> -->
          </div>
        </div>
      </ng-container>

    </nav>
  </div>
</div>
