.nav-block {
  border-bottom: 1px solid #ddd;
  background: #FFF;
  padding: 0 10px;

  .navbar-default {
  }

  .navbar-toggler {
    padding: 5px 7px;
    outline: none;
    border: none;
    box-shadow: none;
  }

  .navbar-brand {
    img {
      width: 170px;
      height: auto;
    }
  }

  .navbar-nav {
    .nav-item {
      display: flex;
      align-items: center;

      &::before {
        content: "|";
        color: #ddd;
      }

      &:first-of-type {
        &::before {
          color: #fff;
        }
      }
    }
    .nav-link {
      color: #505050;
      font-size: 15px;
      // min-width: 70px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;

      &:hover {
        color: #303030;
      }
    }

    .nav-whatsapp {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .icon-whatsapp-full {
        font-size: 20px;
        display: flex;
        margin-right: 10px;
        color: #25d366;
      }
    }
  }

  // &.order-flow {
  //   .navbar-toggler,
  //   .navbar-collapse {
  //     display: none !important;
  //   }
  // }

  .secure-environment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    // width: 100px;

    .text {
      margin-left: 10px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 15px;
      span {
        width: 100%;
        display: block;
      }
    }

    .ssl {
      color: #4c9525;
      font-weight: bold;
    }
  }
}

@media (max-width: 767px) {
  .nav-block {
    .navbar-toggler {
    }

    .navbar-nav {
      .nav-item {
        align-items: left;

        &::before {
          display: none;
        }
      }
    }

    .navbar-brand {
      height: 57px;

      img {
        width: 150px;
        height: auto;
      }
    }

    // &.order-flow {
    //   .navbar-brand {
    //     margin-left: auto !important;
    //     margin-right: auto !important;
    //   }
    // }

    .secure-environment {
      // width: 100%;
      .text {
        font-size: 11px;

        span {
          // margin-right: 5px;
          // width: auto;
          // display: initial;
        }
      }
    }
  }
}
