<div *ngIf="show">

  <ng-container *ngIf="order.status === status['Approved']">
    <app-approved [order]="order" [paymentData]="paymentData"></app-approved>
  </ng-container>

  <ng-container *ngIf="order.status === status['NotApproved']">
    <app-not-approved [order]="order"></app-not-approved>
  </ng-container>

  <ng-container *ngIf="order.status === status['Pendent']">
    <app-pendent [order]="order" [paymentData]="paymentData"></app-pendent>
  </ng-container>

</div>
