<div class="checkout-page-structure">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1 class="checkout-main-title">Pedido finalizado com sucesso!</h1>
      </div>

      <div class="col-md-8 col-12">

        <p class="desc">
          Obrigado por contratar o seu seguro viagem!
          <br>
          <br>
          Agora você está pronto para viajar com segurança e tranquilidade.
        </p>

        <p class="desc">
          Suas apólices estão na fila de emissão e serão enviadas por e-mail assim que emitidas.
          Acesse o painel do segurado e consulte quando quiser seus pedidos e apólices.
        </p>

        <div class="box-shadow">
          <div class="box-content">
            <div class="item-box">
              <div class="item-label">
                Nº Pedido:
              </div>
              <div class="item-content">
                {{ order.number }}
              </div>
            </div>

            <div class="item-box">
              <div class="item-label">
                Forma de pagamento
              </div>
              <div class="item-content">
                {{ order?.transaction?.payment_method_name }}
              </div>
            </div>


            <div class="item-box">
              <div class="item-label">
                Total
              </div>
              <div class="item-content text-success">
                R$ {{ order.total | currency:'BRL':'' }}
              </div>
            </div>

            <div class="item-box">
              <div class="item-label">
                Situação
              </div>
              <div class="item-content {{ order.status === 1? 'text-success': 'text-warning' }}">
                {{ order.status_name }}
              </div>
            </div>

          </div>
          <div class="reminder">
            {{ order.transaction?.description }}
          </div>
        </div>

        <p class="desc">
          <strong>Atenção:</strong>
          <br />
          Caso não receba o e-mail, confira sua caixa de spam ou lixo eletrônico.
          Acesse o painel do segurado para fazer o download das suas apólices.
        </p>
      </div>

      <ng-container *ngIf="order">
        <div class="col-md-4 col-12">
          <app-summary [order]="order" [step]="10"></app-summary>
        </div>
      </ng-container>

    </div>
  </div>
</div>
